 /* HANJIN 2008.08. DESIGN*/

/* Body ( Basic ) */
body 	{margin-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; }

A.btn:link    	{ color:black !important; text-decoration:none; }
A.btn:visited 	{ color:black !important; text-decoration:none; }
A.btn:hover   	{ color:#AC30D0 !important; text-decoration:underline; }


/* Button ( Main ) */
TABLE.button 			{ border-collapse: collapse; }
TABLE.button TD.		{ padding:0px;}
TABLE.button TD.align	{ padding:0; }
TABLE.button TD.btn			{ height:23;}
TABLE.button TD.btn1_bg			{ height:23; text-align:right;}
TABLE.button TD.btn1			{ height:23;background-image: url(/hanjin/img/btn_1_bg.gif); font-family: Tahoma,verdana,arial,dotum,gulim; font-size: 11px;text-align:center; font-weight:bold; padding-bottom:2; padding-left:5; padding-right:2; border:0px; cursor: hand;}
TABLE.button TD.btn1 A:link    	{ color:#514747; text-decoration:none; }
TABLE.button TD.btn1 A:visited 	{ color:#514747; text-decoration:none; }
TABLE.button TD.btn1 A:hover   	{ color:#AC30D0; text-decoration:underline; }
TABLE.button TD.btn1_left		{ height:23; width:14; background-image: url(/hanjin/img/btn_1_left.gif);}
TABLE.button TD.btn1_right		{ height:23; width:10; background-image: url(/hanjin/img/btn_1_right.gif);}
TABLE.button TD.btn1_line		{ height:23; width:9; background-image: url(/hanjin/img/btn_1_line.gif);}

TABLE.button TD.btn1_1			{ height:23;background-image: url(/hanjin/img/btn_1_bg.gif); font-family: Tahoma,verdana,arial,dotum,gulim; font-size: 11px;text-align:center; font-weight:bold; padding-bottom:2; padding-left:5; padding-right:2; border:0px; color:#c0c0c0;}



TABLE.button TD.btn2_bg			{ height:19; padding-top:4; text-align:right;}
TABLE.button TD.btn2			{ height:19; background-image: url(/hanjin/img/btn_2_bg.gif);  font-family: Tahoma,verdana,arial,dotum,gulim; font-size: 11px; text-align:center; font-weight:bold; padding-bottom:0; padding-left:2;color:#737373; border:0px; cursor: hand;}
TABLE.button TD.btn2 A:link    	{ color:#737373; text-decoration:none; }
TABLE.button TD.btn2 A:visited 	{ color:#737373; text-decoration:none; }
TABLE.button TD.btn2 A:hover   	{ color:#30A5D0; text-decoration:underline; }
TABLE.button TD.btn2_left		{ height:19; width:13; background-image: url(/hanjin/img/btn_2_left.gif);}
TABLE.button TD.btn2_right		{ height:19; width:9; background-image: url(/hanjin/img/btn_2_right.gif);}

TABLE.button TD.btn2_1			{ height:19; background-image: url(/hanjin/img/btn_2_bg.gif);  font-family: Tahoma,verdana,arial,dotum,gulim; font-size: 11px; text-align:center; font-weight:bold; padding-bottom:0; padding-left:2;color:#737373; border:0px; cursor: hand;color:#c0c0c0;}

TABLE.button TD.btn2_2			{ height:19; background-image: url(/hanjin/img/btn_2_bg.gif);  font-family: Tahoma,verdana,arial,dotum,gulim; font-size: 11px; text-align:center; font-weight:bold; padding-bottom:0; padding-left:2;color:#3791BF; border:0px; cursor: hand;}
TABLE.button TD.btn2_2 A:link    	{ color:#3791BF; text-decoration:none; }
TABLE.button TD.btn2_2 A:visited 	{ color:#3791BF; text-decoration:none; }
TABLE.button TD.btn2_2 A:hover   	{ color:#3791BF; text-decoration:underline; }

TABLE.button TD.btn3_bg			{ height:23; text-align:center;}
TABLE.button TD.btn3			{ height:23;background-image: url(/hanjin/img/btn_1_bg.gif);  font-family: Tahoma,verdana,arial,dotum,gulim; font-size: 11px;text-align:center; font-weight:bold; padding-bottom:2; padding-left:2;}
TABLE.button TD.btn3 A:link    	{ color:#514747; text-decoration:none; }
TABLE.button TD.btn3 A:visited 	{ color:#514747; text-decoration:none; }
TABLE.button TD.btn3 A:hover   	{ color:#AC30D0; text-decoration:underline; }

/* Button ( Sub ) */
TABLE.sbutton 			{ border-collapse: collapse; }
TABLE.sbutton TD.bt		{ padding:4,0,0,0px; }
TABLE.sbutton TD.align	{ padding:0px; text-align:right; }
TABLE.sbutton TD.popup	{ padding:0px; text-align:center; padding:0; background-color:#EFEFF6; height:37; vertical-align:middle;}
TABLE.sbutton TD.p_bt	{ padding:0,0,0,2px; }

/* Page Title, Historical Tail Navigation */
TABLE.title 			{ border-collapse: collapse; }
TABLE.title TD			{  font-family:verdana,arial; font-size: 14px; word-spacing:-0px; color: #FF4E00; padding-left:10; }
TABLE.title TD.title	{ color: #FF4E00;font-weight:bold;padding-bottom:1;  }
TABLE.title TD.history	{ color: #686867; height:10; text-align:right; font-size: 10px; padding-right:10;}
				
		
/* Contents ( Grouping Contents ) */
TABLE 			{ border-collapse: collapse; }
TABLE. TD		{ padding:0px; font-family: Tahoma,verdana,arial,dotum,gulim; font-size: 11px; }

	
/* Contents ( Grouping Contents ) */
TABLE.search 			{ border-collapse: collapse; width:100%;}
TABLE.search TD			{ padding:0px; font-family: Tahoma,verdana,arial,dotum,gulim; font-size: 11px; word-spacing:-0px; }
TABLE.search TR.h23		{ height:23; font-weight:bold; color: #313131; }
TABLE.search TD.bg		{ padding:8px; background-color:#F3F2F8; border:1px solid #A3A4C7; }
TABLE.search TD.bg_b1	{ padding:0,8,12,8px; background-color:#F3F2F8; border:1px solid #A3A4C7;}
TABLE.search TD.bg_b2	{ padding:0,8,12,8px; background-color:white; border:1px solid #A3A4C7;}

TABLE.search TD.title_h	{ background-image: url(/hanjin/img/img_biz_title.gif); width:2; height:9; vertical-align:middle; padding-bottom:5;padding-top:2; }
TABLE.search TD.title_s	{ color: #532FC3; text-indent:2; font-weight:bold; padding-left:4;padding-bottom:5;padding-top:2;}
TABLE.search TD.accent1	{ color: #0E0972; }
TABLE.search TD.accent2	{ color: #0E0972; background-color: #E6FFAB;}	
TABLE.search TD.total	{ color: #30a936; background-color: #e8f8e7;  font-weight:bold; text-align:right;
						border-top:3px solid white; height:23;}	
TABLE.search TD.sm		{ font-size: 11px; color: #3e3e3e; font-weight:normal; }	
TABLE.search TD.stm		{ font-size: 11px; color: #3e3e3e; font-weight:normal; }	
TABLE.search TD.gray	{ font-size: 11px; color: #5e5e5e; font-weight:normal; text-align:right; 
						padding-right:3;  padding-bottom:1; vertical-align:bottom;}	
TABLE.search TD.gray_tit{ font-size: 11px; color: #5e5e5e; font-weight:normal; padding-left:3;}	

TABLE.search_sm 		{ border-collapse: collapse; background-color: #E9E9E9; border:7px solid #E9E9E9;}
TABLE.search_sm TD		{ padding:0px; }

TABLE.search_sm2 		{ border-collapse: collapse; background-color: #E9E9E9; border:4px solid #E9E9E9;}
TABLE.search_sm2 TD		{ padding:0px; }

TABLE.search_ssm 		{ border-collapse: collapse; background-color: #E9E9E9; border:5px solid #E9E9E9;}
TABLE.search_ssm TD		{ padding:0px; }

TABLE.search_ssm1 		{ border-collapse: collapse; background-color: #D9E0EA; border:5px solid #D9E0EA;}
TABLE.search_ssm1 TD		{ padding:0px; }

/* Contents ( Tab ) */
TABLE.tab 				{ border-collapse: collapse; width:100%;}
TABLE.tab TD			{ padding:0px; }

/* Grid ( Title / Right Side ) */
TABLE.gridtitle 		{ border-collapse: collapse; }
TABLE.gridtitle TD		{ padding:0px; font-family: Tahoma,verdana,Arial,dotum,gulim; font-size: 11px; color: #14358B; font-weight:bold; 
						height:22; vertical-align:bottom; text-indent:2; }											
TABLE.gridtitle TD.right{ padding-right:5px; color: #828282; font-size: 11px; text-align:right; font-weight:normal; }


/* Grid Type1 ( Table Style 1 ) */
TABLE.Grid		 		{ border-collapse: collapse; border: #A28792 1px solid; background-color: white;  color: #252341;}
TABLE.Grid TD			{ padding:0px; border: #D5EAF0 1px solid;  text-indent: 3px; height:23; word-break : 
						break-all; font-family: Tahoma,verdana,Arial,dotum,gulim; font-size: 11px; padding-right:3px;}
TABLE.Grid TD.cont_r	{ font-weight:normal; text-align:right;}
	 .tr_head			{ background-color: #C9CAEB ; border: white 1px solid; color: #275F65; text-align : center; font-weight:bold; }
	 .tr_head2			{ background-color: #D3DBFF; text-align:center; color: #275F65; font-weight:normal; }
	 .tr_head3			{ background-color: #F7E1EC; font-weight:normal; }


/* Grid Type2 ( Table Style 2 ) */
TABLE.Grid2		 		{ border-collapse: collapse; background-color: white; color: #272727; }
TABLE.Grid2 TD			{ padding:0px; border: #A6C3CB 1px solid;  text-indent: 3px; height:23; word-break : 
						break-all; font-family: Tahoma,verdana,Arial,dotum,gulim; font-size: 11px; padding-right:3px; }
	 .align_r			{ text-align:right;}
	 .tr2_head			{ background-color: #E8EFF9; color: #313131; text-align : center; font-weight:bold; }
	 .tr2_head_l		{ background-color: #E8EFF9; color: #313131; text-align : left; font-weight:bold; }
	 .tr2_head2			{ background-color: #EBF6F9; text-align:center; color: #313131; font-weight:normal; }
	 .tr2_head3			{ background-color: #F7E1EC; font-weight:normal; }
	 .tr2_head4			{ background-color: #FAD26B; font-weight:normal;}

/* Grid Type3 ( Table Style 3 ) */
TABLE.Total		 		{ border-collapse: collapse; border: #A28792 1px solid; border-top:1px solid #F7E1EC; background-color: #F7E1EC; }
TABLE.Total TD			{ padding:0px; text-indent: 3px; height:28; font-weight:bold; word-break : break-all; 
						font-family: Tahoma,verdana,Arial; font-size: 11px; padding-right:3px;border-right:1px solid #F7E1EC;}

/* popup */
TABLE.popup 	   			{ border-collapse: collapse; }
TABLE.popup TD.top 			{ height:10px; background-color: #7474C9;}
TABLE.popup TD.title 		{font-family: Arial;  font-size: 14px;  color: #FF4E00; font-weight: bold; text-align: left; height: 25px; vertical-align:top;}
TABLE.popup TD.space_line	{ height:14px;}

/* Input Box Style */
select			{  height: 18px; border: #7F9DB9 1px solid; font-family: Tahoma,Arial,dotum,gulim; font-size: 11px; color: #606060; text-indent: 2px;}
input			{  height: 18px; border: #7F9DB9 1px solid; font-family: Tahoma,Arial,dotum,gulim; font-size: 11px; color: #606060; text-indent: 2px;}
.input_sm		{  height:18; font-size:8pt; border: #7F9DB9 1px solid; font-family: Tahoma,Arial,dotum,gulim; color: #606060; text-indent: 2px;}
.input_1		{  height: 18px; border: #7896B1 1px solid; font-family: Tahoma,Arial,dotum,gulim; font-size: 11px; color: #FB1901; text-indent: 2px;  font-weight:bold;}
.input1			{  height: 18px; border: #7896B1 1px solid; font-family: Tahoma,Arial,dotum,gulim; font-size: 11px; color: #606060; text-indent: 2px;  background-color:#CCFFFD; }
.input1_1		{  height: 18px; border: #7896B1 1px solid; font-family: Tahoma,Arial,dotum,gulim; font-size: 11px; color: #FB1901; text-indent: 2px;  background-color:#CCFFFD; font-weight:bold;}
.input2		{  height:18px; border: #7896B1 1px solid; font-family: Tahoma,Arial,dotum,gulim; font-size: 11px; color: #606060; text-indent: 2px;  background-color:#E8E7EC;}
.input2_1		{  height: 18px; border: #7896B1 1px solid; font-family: Tahoma,Arial,dotum,gulim; font-size: 11px; color: #FB1901; text-indent: 2px;  background-color:#E8E7EC; font-weight:bold;}

.trans	 		{  border: white 0px solid; }
.noinput		{  height: 18px; border: #FFFFFF 1px solid; font-family: Tahoma,Arial,dotum,gulim; font-size: 11px; color: #606060; text-indent: 2px;}
.noinput11		{  height: 18px; border: #FFFFFF 1px solid; font-family: Tahoma,Arial,dotum,gulim; font-size: 11px; color: #606060; text-indent: 2px;}
.noinput1		{  height: 18px; border: #CCFFFD 1px solid;  background-color:#CCFFFD; }
.noinput2		{  height: 18px; border: #E8E7EC 1px solid;  background-color:#E8E7EC; }

	
textarea		{  border: #7F9DB9 1px solid; font-family: Tahoma,Arial,dotum,gulim; font-size: 11px; color: #4f4f4f; text-indent: 3px;}

.textarea1		{  border: #7F9DB9 1px solid; font-family: Tahoma,Arial,dotum,gulim; font-size: 11px; color: #4f4f4f; text-indent: 3px;  background-color:#CCFFFD;}
.textarea2		{  border: #7F9DB9 1px solid; font-family: Tahoma,Arial,dotum,gulim; font-size: 11px; color: #4f4f4f; text-indent: 3px;  background-color:#E8E7EC;}

/* option for buttons & icons */
.cursor 		{ border:0px; cursor: hand;}
.line_bluedot			{ width:100%; height:15px; background-image: url(/hanjin/img/line_bluedot.gif); 
						background-position:center; background-repeat : repeat-x;}
.height_10				{ height:10px; }
.height_8				{ height:8px; }
.height_5				{ height:5px; }
.height_2				{ height:2px; }





