/* HANJIN 2008.08. DESIGN*/

/* Body ( Basic ) */
body 	{margin-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; }


/* Login Info */
TABLE.id 			{ border-collapse: collapse; }
TABLE.id TD			{ padding:0px; font-family: Tahoma,Arial; font-size: 11px; color: #9A9C9D;letter-spacing:1px;}
TABLE.id TD.id		{ color: #9A9C9D; word-break : break-all;letter-spacing:1px;}


/* Top Menu  */
TABLE.topmn 		{ border-collapse: collapse; }
TABLE.topmn TD		{ padding:0px; height:43;}
TABLE.topmn TD.2dbg	{ background-image: url(/hanjin/img/img_topmenu_bg.gif); }
TABLE.topmn TD.2d_sp	{ background-image: url(/hanjin/img/img_topmenu_bg.gif); }
TABLE.topmn TD.2d	{ font-family: Tahoma,verdana,arial; font-size: 12px; height:43; font-weight:bold; }
TABLE.topmn TD.2d a {padding:12px 6px 0 6px;}
TABLE.topmn TD.2d A:link    	{ color:#514747; text-decoration:none;height:43; }
TABLE.topmn TD.2d A:visited 	{ color:#514747; text-decoration:none; height:43; }
TABLE.topmn TD.2d A:hover   	{ color:#FFA200; text-decoration:none;height:43; background: url(/hanjin/img/img_topmenu_on_bg.gif) 0 0  }

TABLE.topmn TD.ttl	{ color:#ffffff; font-family: Tahoma,verdana,arial; font-size: 13px; word-spacing:-0pt; height:21; 
					font-weight:bold; background-image: url(/hanjin/img/img_topmenu_ttl_bg.gif); padding-bottom:5; }
.my { font-size: 11px; color: #ffffff; text-indent: 3px; font-family: Tahoma,Arial; width: 90px; background-color: #A7A7A7;}					
	

/*Sub Menu */
TABLE.submn 					{ border-collapse: collapse; width:150; }
TABLE.submn TD					{ padding:0;font-family: Tahoma,verdana,arial; font-size: 12px; vertical-align: middle; line-height:19px;}

TABLE.submn TD.2d 				{  height:19; width:145; padding-left:15; background-image: url(/hanjin/img/img_topmenu_sub_1_mid.gif); }
TABLE.submn TD.2d A:link    	{ color:#563899; text-decoration:none;width:145; }
TABLE.submn TD.2d A:visited 	{ color:#563899; text-decoration:none;width:145; }
TABLE.submn TD.2d A:hover   	{ color:#FC5F00; width:145; text-decoration:none;font-weight:bold; background-image: url(/hanjin/img/img_topmenu_sub_1_over.gif); }


TABLE.submn TD.3d 				{  height:19; width:145; padding-left:15; background-image: url(/hanjin/img/img_topmenu_sub_1_mid.gif); }
TABLE.submn TD.3d A:link    	{ color:#563899; text-decoration:none;width:145; }
TABLE.submn TD.3d A:visited 	{ color:#563899; text-decoration:none;width:145; }
TABLE.submn TD.3d A:hover   	{ color:#FC5F00; width:145;  text-decoration:none;font-weight:bold; background-image: url(/hanjin/img/img_topmenu_sub_2_over.gif);  }


TABLE.submn TD.4d 				{  height:19; width:145; padding-left:15; background-image: url(/hanjin/img/img_topmenu_sub_1_mid.gif); }
TABLE.submn TD.4d A:link    	{ color:#563899; text-decoration:none;width:145; }
TABLE.submn TD.4d A:visited 	{ color:#563899; text-decoration:none;width:145; }
TABLE.submn TD.4d A:hover   	{ color:#FC5F00; width:145;  text-decoration:none;font-weight:bold;  }





/*Full Menu */
TABLE.fullmn 					{ border-collapse: collapse;}
TABLE.fullmn TD					{ padding:0;font-family: Tahoma,verdana,arial; font-size: 12px; line-height:19px;}
TABLE.fullmn TD.bg				{ padding:0;background-color:B9B9B9; }
TABLE.fullmn TD.left_bg			{ padding:0;width:8;background-image: url(/hanjin/img/img_fullmenu_left_bg_1.gif);}
TABLE.fullmn TD.right_bg			{ padding:0;width:8;background-image: url(/hanjin/img/img_fullmenu_right_bg_1.gif);}
TABLE.fullmn TD.bottom_bg			{ padding:0;width:8;background-image: url(/hanjin/img/img_fullmenu_bottom_bg_1.gif);}
TABLE.fullmn TD.top_bg			{ padding:0;height:8;background-image: url(/hanjin/img/img_fullmenu_top_bg_1.gif);}
TABLE.fullmn TD.line_bg1				{ padding:0;background-color:264541;height:2; }
TABLE.fullmn TD.line_bg2				{ padding:0;background-color:264541;width:2; }
TABLE.fullmn TD.1d 				{  height:19; font-weight:bold; padding-left:0;padding-right:0; background-color:696969; }
TABLE.fullmn TD.1d A:link    	{ color:#FFFFFF; text-decoration:none; }
TABLE.fullmn TD.1d A:visited 	{ color:#FFFFFF; text-decoration:none; }
TABLE.fullmn TD.1d A:hover   	{ color:#FC5F00; text-decoration:none;font-weight:bold;  }

.arrow1			{ background-image: url(/hanjin/img/img_fullmenu_arrow_1.gif); width:5; height:5; margin-right:5; vertical-align:middle;}
.arrow2			{ background-image: url(/hanjin/img/img_fullmenu_arrow_2.gif); width:5; height:5; margin-right:5; vertical-align:middle;}


