.folder_node_visible {
	margin-left: 10px;
	display: block;
	font-size: 11px;
}

.doc_node_visible {
	margin-top: 1px;
	margin-left: 10px;
	padding: 2px 2px 2px 20px;
	background:url("/hanjin/img/icon_tree_04.gif") no-repeat;
	cursor: pointer;
	display: block;
	font-size: 11px;
}

.folder_node_hidden {
	margin-left: 10px;
	display: none;
	font-size: 11px;
}

.doc_node_hidden {
	margin-left: 10px;
	/*padding: 2px 2px 2px 20px;
	background:url("/hanjin/img/icon_tree_04.gif") no-repeat;*/
	cursor: pointer;
	display: none;
	font-size: 11px;
}

.folder_closed {
	padding: 2px 2px 2px 20px;
	background: url("/hanjin/img/icon_tree_01.gif") no-repeat;
	cursor: pointer;
	display: block;
	font-size: 11px;
}

.folder_open {
	padding: 2px 2px 2px 20px;
	background: url("/hanjin/img/icon_tree_02.gif") no-repeat;
	cursor: pointer;
	display: block;
	font-size: 11px;
}