/* HANJIN 2006.04. DESIGN*/

body {margin-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; background-color: #ffffff;}

/* login body  style*/
.login_body {margin-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; background-image: url(../images/login/bg.gif);}

/* top body  style*/
.top_body {margin-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; background-image: url(../images/top_bg.gif);}

/* sub body  style*/
.sub_body {margin-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; background-image: url(../images/left_bg.gif);}

/* content body  style*/
.content_body {margin-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; background-color: #FCFCFC; padding-left: 23px;}


/*login personal information*/
.login_text1 {font-family: Arial;  font-size: 10px;  normal;color: #000000; background-color: #F8F8F8;}

/*login personal information*/
.login_text2 {font-family: Arial;  font-size: 10px;  normal;color: #5C5C5C; background-color: #F8F8F8;}

/* contents table text style- */
.login_list {font-family: Arial; font-size: 11px; color:#242424; letter-spacing:1; text-align: left; height: 22px; padding-top: 5px; padding-bottom: 5px;}
.login_list A:link    {color:#FF7611;text-decoration: underline;}
.login_list A:visited {color:#242424;text-decoration:none;}
.login_list A:hover   {color:#FF7611;text-decoration: underline;}

/*left all background*/
.left_mbg { background-color: #ffffff; image-align: center;}

/*left line*/
.left_line1{ height: 1px; background-color: #aaaaaa;}

/*left line*/
.left_line2{height: 1px; background-color: #ffffff; }

/*left line*/
.left_line3{height: 10px; background-color: #ffffff; }

/*left line*/
.left_dotline{ height: 1px; background-image: url(../images/line_bg.gif);
}

/*left menu*/
.m_3depth_s { font-family: Arial; font-size: 11px; color: 7A7A7C; text-align: left; font-weight: bold; vertical-align: middle; height: 23px; width: 183px;}
.m_3depth_s A:link    {color:#FF7611;text-decoration: none;}
.m_3depth_s A:visited {color:#FF7611;text-decoration:none;}
.m_3depth_s A:hover   {color:#FF7611;text-decoration: underline;}

.m_3depth { font-family: Arial; font-size: 11px; color: FF6412; text-align: left; font-weight: bold; vertical-align: middle; height: 23px; width: 183px;}
.m_3depth A:link    {color:#7A7A7C;text-decoration:none;}
.m_3depth A:visited {color:#7A7A7C;text-decoration:none;}
.m_3depth A:hover   {color:#FF7611;text-decoration:underline;}


.m_4depth_s { font-family: Arial; font-size: 11px; color: 7A7A7C; text-align: left; vertical-align: middle;height: 20px; width: 183px; padding-left: 18px;}
.m_4depth_s A:link    {color:#FF7611;text-decoration: none;}
.m_4depth_s A:visited {color:#FF7611;text-decoration:none;}
.m_4depth_s A:hover   {color:#FF7611;text-decoration: underline;}

.m_4depth {font-family: Arial; font-size: 11px; color: FF6412; text-align: left; vertical-align: middle; height: 20px; width: 183px; padding-left: 18px;}
.m_4depth A:link    {color:#7A7A7C;text-decoration:none;}
.m_4depth A:visited {color:#7A7A7C;text-decoration:none;}
.m_4depth A:hover   {color:#FF7611;text-decoration:underline;}


/* contents table text style- */
TABLE.texttable 			{ border-collapse: collapse; }
TABLE.texttable TD 			{ padding:1; word-break : break-all; font-family: Arial; font-size: 12px; color: #3C3B3B;}
TABLE.texttable TD.ttl 		{ font-weight: bold; font-size: 11px;text-align: center; }
TABLE.texttable TD.ttl_1 		{  font-size: 11px;text-align: left;padding-left: 2px; background-color: #EDF6FB;}
TABLE.texttable TD.ttl_2 		{ font-size: 11px;text-align: left;padding-left: 2px; }
TABLE.texttable TD.ttl_3 		{ font-size: 11px;text-align: right;padding-right: 2px; }
TABLE.texttable TD.search	{ font-family: Arial; font-size: 12px; color: red;}
TABLE.texttable TD.search_1	{ font-family: Arial; font-size: 12px; color: FF7200;}


/* contents line space */
TABLE.content 			{ border-collapse: collapse; }
TABLE.content TD		{ padding:0px; }
TABLE.content TD.ttl_s	{ height:2px;}
TABLE.content TD.tab	{ height:24px;}

/* contents space _ line / px */
TABLE.content TD.space_line	{ height:26px;}
TABLE.content TD.space_12px	{ height:12px;}
TABLE.content TD.space_6px	{ height:6px;}
TABLE.content TD.space_13px	{ height:13px;}
TABLE.content TD.space_15px	{ height:15px;}
TABLE.content TD.space_25px	{ height:25px;}


/*Historical Tail Navigation*/
TABLE.content TD.history {font-family: Verdana; font-size: 10px;  color: #686867; text-align: right; height: 21px; vertical-align:bottom;}

/*content title*/
TABLE.content TD.title {font-family: Arial;  font-size: 18px;  color: #FF7611; text-align: left; height: 19px;}
TABLE.content TD.title_S {font-family: Arial;  font-size: 13px; font-weight: bold; color: #0B5894; text-align: left; height: 17px;}
TABLE.content TD.con 	{ padding:1; word-break : break-all; font-family: Arial; font-size: 12px; color: #3C3B3B;}
/*button table*/
TABLE.content TD.btn {font-family: Arial; text-align:right; vertical-align: absmiddle; height:22px;}

/*button space*/
.btn_space {height:22px; border:0px; margin-right : 1px; margin-left : 1px; cursor: hand;}
.btng_space {height:22px; border:0px; margin-right : 1px; margin-left : 1px; margin-top : 5px; vertical-align:bottom; text-align:right; cursor: hand;}

/*button cursor*/
.btn_cursor {height:20px; border:0px; margin-right : 1px; margin-left : 1px; cursor: hand;}



/* Select box1 */
.select_box1 {border-right: 1px solid; border-top: 1px solid; border-left: 1px solid; border-bottom: 1px solid;  font-size: 11px; 	 color: #ffffff; text-indent: 3px; font-family:  Arial; vertical-align: middle; width: 160px; align: center; background-color: #A7A7A7;}

/* Input box1 */
.input { border-right: #5B8A9E 1px solid; border-top: #5B8A9E 1px solid; border-left: #5B8A9E 1px solid; border-bottom: #5B8A9E 1px solid; font-family: Arial; font-size: 11px; color: #434343; text-indent: 3px; height: 20px; background-color: #ffffff; width: 120px;}
.input_c { border-right: #5B8A9E 1px solid; border-top: #5B8A9E 1px solid; border-left: #5B8A9E 1px solid; border-bottom: #5B8A9E 1px solid; font-family: Arial; font-size: 11px; color: #434343; text-indent: 3px; height: 20px; background-color: #D8FFC5; width: 120px;}
.input_b { border-right: #5B8A9E 1px solid; border-top: #5B8A9E 1px solid; border-left: #5B8A9E 1px solid; border-bottom: #5B8A9E 1px solid; font-family: Arial; font-size: 11px; color: #434343; text-indent: 3px; height: 20px; background-color: #EAEAEA; width: 120px;}


.input00 { border-right: #5B8A9E 1px solid; border-top: #5B8A9E 1px solid; border-left: #5B8A9E 1px solid; border-bottom: #5B8A9E 1px solid; font-family: Arial; font-size: 11px; color: #434343; text-indent: 3px; height: 20px; background-color: #ffffff; width: 35px;}

.input01 { border-right: #5B8A9E 1px solid; border-top: #5B8A9E 1px solid; border-left: #5B8A9E 1px solid; border-bottom: #5B8A9E 1px solid; font-family: Arial; font-size: 11px; color: #434343; text-indent: 3px; height: 20px; background-color: #ffffff; width: 50px;}

.input01_c { border-right: #5B8A9E 1px solid; border-top: #5B8A9E 1px solid; border-left: #5B8A9E 1px solid; border-bottom: #5B8A9E 1px solid; font-family: Arial; font-size: 11px; color: #434343; text-indent: 3px; height: 20px; background-color: #D8FFC5; width: 50px;}

.input02 { border-right: #5B8A9E 1px solid; border-top: #5B8A9E 1px solid; border-left: #5B8A9E 1px solid; border-bottom: #5B8A9E 1px solid; font-family: Arial; font-size: 11px; color: #434343; text-indent: 3px; height: 20px; background-color: #ffffff; width: 290px;}

.input02_c { border-right: #5B8A9E 1px solid; border-top: #5B8A9E 1px solid; border-left: #5B8A9E 1px solid; border-bottom: #5B8A9E 1px solid; font-family: Arial; font-size: 11px; color: #434343; text-indent: 3px; height: 20px; background-color: #D8FFC5; width: 290px;}

.input03 { border-right: #5B8A9E 1px solid; border-top: #5B8A9E 1px solid; border-left: #5B8A9E 1px solid; border-bottom: #5B8A9E 1px solid; font-family: Arial; font-size: 11px; color: #434343; text-indent: 3px; height: 20px; background-color: #ffffff; width: 103px;}

.input03_c { border-right: #5B8A9E 1px solid; border-top: #5B8A9E 1px solid; border-left: #5B8A9E 1px solid; border-bottom: #5B8A9E 1px solid; font-family: Arial; font-size: 11px; color: #434343; text-indent: 3px; height: 20px; background-color: #D8FFC5; width: 103px;}

.input04 { border-right: #5B8A9E 1px solid; border-top: #5B8A9E 1px solid; border-left: #5B8A9E 1px solid; border-bottom: #5B8A9E 1px solid; font-family: Arial; font-size: 11px; color: #434343; text-indent: 3px; height: 20px; background-color: #ffffff; width: 80px;}
.input04_c { border-right: #5B8A9E 1px solid; border-top: #5B8A9E 1px solid; border-left: #5B8A9E 1px solid; border-bottom: #5B8A9E 1px solid; font-family: Arial; font-size: 11px; color: #434343; text-indent: 3px; height: 20px; background-color: #D8FFC5; width: 80px;}
.input04_b { border-right: #5B8A9E 1px solid; border-top: #5B8A9E 1px solid; border-left: #5B8A9E 1px solid; border-bottom: #5B8A9E 1px solid; font-family: Arial; font-size: 11px; color: #434343; text-indent: 3px; height: 20px; background-color: #EAEAEA; width: 80px;}

.input05 { border-right: #5B8A9E 1px solid; border-top: #5B8A9E 1px solid; border-left: #5B8A9E 1px solid; border-bottom: #5B8A9E 1px solid; font-family: Arial; font-size: 11px; color: #434343; text-indent: 3px; height: 20px; background-color: #ffffff; width: 160px;}

.input05_c { border-right: #5B8A9E 1px solid; border-top: #5B8A9E 1px solid; border-left: #5B8A9E 1px solid; border-bottom: #5B8A9E 1px solid; font-family: Arial; font-size: 11px; color: #434343; text-indent: 3px; height: 20px; background-color: #D8FFC5; width: 160px;}


.input06 { border-right: #5B8A9E 1px solid; border-top: #5B8A9E 1px solid; border-left: #5B8A9E 1px solid; border-bottom: #5B8A9E 1px solid; font-family: Arial; font-size: 11px; color: #434343; text-indent: 3px; height: 20px; background-color: #ffffff; width: 650px;}

.input06_1 { border-right: #5B8A9E 1px solid; border-top: #5B8A9E 1px solid; border-left: #5B8A9E 1px solid; border-bottom: #5B8A9E 1px solid; font-family: Arial; font-size: 11px; color: #434343; text-indent: 3px; height: 80px; background-color: #ffffff; width: 650px;}

.input07 { border-right: #5B8A9E 1px solid; border-top: #5B8A9E 1px solid; border-left: #5B8A9E 1px solid; border-bottom: #5B8A9E 1px solid; font-family: Arial; font-size: 11px; color: #434343; text-indent: 3px; height: 20px; background-color: #ffffff; width: 220px;}

.input08 { border-right: #5B8A9E 1px solid; border-top: #5B8A9E 1px solid; border-left: #5B8A9E 1px solid; border-bottom: #5B8A9E 1px solid; font-family: Arial; font-size: 11px; color: #434343; text-indent: 3px; height: 45px; background-color: #ffffff; width: 430px;}

.input09 { border-right: #5B8A9E 1px solid; border-top: #5B8A9E 1px solid; border-left: #5B8A9E 1px solid; border-bottom: #5B8A9E 1px solid; font-family: Arial; font-size: 11px; color: #434343; text-indent: 3px; height: 40px; background-color: #ffffff; width: 675px;}

.input07_object { border-right: #5B8A9E 0px solid; border-top: #5B8A9E 0px solid; border-left: #5B8A9E 0px solid; border-bottom: #5B8A9E 0px solid; font-family: Arial; font-size: 11px; color: #434343; text-indent: 0px; height: 15px; background-color: #ffffff; width: 220px;}


/* popup */
TABLE.popup 	   { border-collapse: collapse; }
TABLE.popup TD.top { height:10px; background-color: #2C82C6;}
TABLE.popup TD.footer { height:37px; background-color: #ECF4F7;text-align: center;}
TABLE.popup TD.title {font-family: Arial;  font-size: 14px;  color: #FF7611; font-weight: bold; text-align: left; height: 25px; vertical-align:top;}
TABLE.popup TD.space_line	{ height:14px;}

