BODY { scrollbar-face-color: #E9E8E8; scrollbar-shadow-color: #8D8D8D; scrollbar-highlight-color: #FFFFFF; scrollbar-3dlight-color: #8D8D8D; 
scrollbar-darkshadow-color: #FFFFFF; scrollbar-arrow-color: #8D8D8D;} 

td { font-family: "돋움", "돋움체", "굴림", "굴림체"; font-size: 12px; color: 585858; line-height:16px;}
li {list-style-type: square;}

.system{ font-family: "돋움", "돋움체", "굴림", "굴림체"; font-size: 12px; color: 3F3F3F; table-layout:auto; padding-left:5px; padding-right:7px;}
.tb_scope { border-top: 6px solid F0EFE7;	border-right: 6px solid F0EFE7; border-bottom: 6px solid F0EFE7;border-left: 6px solid F0EFE7;}
.tb_register { border-top: 1px solid CDCAC1;	border-right: 1px solid CDCAC1; border-bottom: 1px solid CDCAC1;border-left: 1px solid CDCAC1;}

.form_list { font-family: "돋움", "돋움체", "굴림", "굴림체"; font-size: 12px; color:2F2F2F; width:100px; height: 19px;}

A:link { font-family: "돋움", "돋움체", "굴림", "굴림체", "Arial", "Verdana"; font-size: 12px; color: 585858; TEXT-DECORATION: none;CURSOR: hand}
A:visited { font-family: "돋움", "돋움체", "굴림", "굴림체", "Arial", "Verdana"; font-size: 12px; color: 585858; TEXT-DECORATION: none;CURSOR: hand}
A:active { font-family: "돋움", "돋움체", "굴림", "굴림체", "Arial", "Verdana"; font-size: 12px; color: 585858; TEXT-DECORATION: none;CURSOR: hand}
A:hover { font-family: "돋움", "돋움체", "굴림", "굴림체", "Arial", "Verdana"; font-size: 12px; color: FF8B00; TEXT-DECORATION: underline;CURSOR: hand}

/***** Table에 대한 CSS********************************************************************/
/*일반적인 테이블 컬러 */
.tbForm_3 {BACKGROUND-COLOR:#CEBAA9;}
.tbTit3_1 {BACKGROUND-COLOR:#EDE3DA;	color:#433102;	text-align:center; line-height:15px; padding-top: 5px; padding-bottom: 5px;}
.tbTit3_2 {BACKGROUND-COLOR:#EDE3DA; padding: 5 10 5 10; color:#433102;line-height:15px; height:27;}
.tbTit3_3 {BACKGROUND-COLOR:#EDE3DA;	font-size:11px; color:#433102;	text-align:center; line-height:15px; padding-top: 5px; padding-bottom: 5px;}
.tbTit3_4 {font-size:11px; color:#433102;	text-align:center; line-height:15px; padding-top: 5px; padding-bottom: 5px;}
.tbTit3_5 {BACKGROUND-COLOR:#FEF1E5;	color:#916C08;text-align:center; line-height:15px; padding-top: 2px; padding-bottom: 3px;}
.tbCon3_1 {BACKGROUND-COLOR:#FEFEFE;padding: 3 7 3 7; color:#585858;line-height:16px;}
.tbCon3_2 {BACKGROUND-COLOR:#FEFEFE;padding: 2 10 5;color:#585858;line-height:20px;height: 27px;}
.tbCon3_3 {BACKGROUND-COLOR:#FEFEFE;color:#585858;	line-height:15px;	padding-top: 3;padding-bottom: 2;padding-right: 5px;	padding-left: 5px;}
.tbCon3_4 {BACKGROUND-COLOR:#F8F6F4;color:#585858;	line-height:15px;	padding-top: 3;padding-bottom: 2;padding-right: 5px;	padding-left: 5px;}
.tbCon3_5 {BACKGROUND-COLOR:#F8F6F4;color:#585858;	line-height:15px;	padding: 3 5 2 5;}
.tbCon3_6 {BACKGROUND-COLOR:#FEFEFE;padding: 2 10 5; color:#000000;line-height:20px;}
.tbCon3_7 {BACKGROUND-COLOR:#FCE9EF;padding: 3 7 3 7; color:#585858;line-height:16px;}

/*정보제공 D - top에 이미지바 */
.tbTit4_1 {BACKGROUND-COLOR:#EEF5E9; padding: 0 10 0 10; color:#5F5B35;line-height:15px; height:27; width:119;}
.tbCon4_1 {BACKGROUND-COLOR:#FEFEFE;padding: 0 10 0 10; color:#585858;line-height:20px;height:27; width:145;}

/*정보제공 E - top에 이미지바 */
.tbTit5_1 {BACKGROUND-COLOR:#F8F9F6; padding: 0 10; color:#7E785B;line-height:15px;}
.tbTit5_2 {BACKGROUND-COLOR:#F8F9F6;padding: 5 10 3;color:#5F5B35;line-height:15px;text-align: left;}
.tbTit5_3 {BACKGROUND-COLOR:#EEF5E9; padding: 0 10 0 10; color:#5F5B35;line-height:15px; height:27; text-align:center;}
.tbCon5_1 {BACKGROUND-COLOR:#FEFEFE;padding: 0 10 0 10; color:#585858;line-height:20px;height:27;}

/*합계에 관한 테이블 컬러*/
.tbForm_6 {BACKGROUND-COLOR:#9CB7D5; border-bottom:1px solid #9CB7D5;}
.tbTit6_1 {BACKGROUND-COLOR:#DFE8F1; padding: 0 10 0 10; color:#354B5F;line-height:15px; height:31; font-weight:bold;text-align:right;}
.tbTit6_2{BACKGROUND-COLOR:#DFE8F1; color:#354B5F;line-height:15px; height:31; font-weight:bold;text-align:center;}
.tbTit6_3{BACKGROUND-COLOR:#E9F1F5; padding: 0 10 0 10; color:#354B5F;line-height:15px; height:31; text-align:right;}
.tbTit6_4 {BACKGROUND-COLOR:#DFE8F1; padding: 0 10 0 10; color:#354B5F;line-height:15px; height:31; font-weight:bold;}


/*데이터 없슴 테이블 스타일 */
.tbForm_7 {border-left:1px solid #CEBAA9;border-right:1px solid #CEBAA9;border-bottom:1px solid #CEBAA9;}
.tbCon7_1 {BACKGROUND-COLOR:#FEFEFE;padding-top: 5; color:#000000;line-height:18px;height:55;text-align:center;}

/*지표추가에 관한 테이블 컬러*/
.tbForm_8 {border:2px solid #D4D2D2;height:55; width:800;}
.tbTit8_1 {font-family:"굴림","굴림체","돋움","돋움체";font-size:12px;padding: 6 10 0 10; color:#585858;line-height:15px; height:21;}
.tbTit8_2{BACKGROUND-COLOR:#E8E8E8;line-height:15px; height:29;}
.tbTit8_3{BACKGROUND-COLOR:#E9F1F5; padding: 0 10 0 10; color:#354B5F;line-height:15px; height:29; text-align:right;}

/*응답결과에 대한 이미지바 */
.tbTit9_1 {BACKGROUND-COLOR:#E6D8CE; padding: 0 10; color:#000000;line-height:15px;}
.tbCon9_1 {BACKGROUND-COLOR:#F1F1F1;padding: 0 10 0 10; color:#000000;line-height:20px;height:27;text-align:right;}


/*저장영역에 대한 CSS */
.znSave1_1 {background-color:E8E8E8; padding-top:3;padding-bottom:2;color:#000000;padding-left:10;}
.znSave1_2 {color:#000000;}
.znSave1_3 {background-color:E8E8E8; text-align:center}

/***** 입력 컨트롤에 대한 CSS ********************************************************************/

INPUT          {COLOR: #303030;}
INPUT.radio    {HEIGHT: 20px}
INPUT.checkbox {HEIGHT: 20px}

INPUT.text1{	height:20px;	font-family: "돋움", "돋움체", "굴림", "굴림체";	font-size: 12px;	color: #000000;	padding-right:4;	padding-top:3;	border: 1px solid #CCCCCC;
	padding-left: 4px; ime-mode:active;}
INPUT.text1_1 {height:20px;border:1px solid #C7C7C7; font-family: "돋움", "돋움체", "굴림", "굴림체"; font-size: 12px; color: #000000; text-align: right; padding-right:4; padding-top:3; ime-mode:active;}
INPUT.text1_2 {height:20px;border:1px solid #C7C7C7; font-family: "돋움", "돋움체", "굴림", "굴림체"; font-size: 12px; color: #000000; text-align: center; padding-right:4; padding-top:3; ime-mode:active;}
INPUT.text2{height:20px; font-family: "돋움", "돋움체", "굴림", "굴림체"; font-size: 12px; color: 585858; padding-right:4; padding-top:3;border: 1px solid #CCCCCC;background-color:efefef;}
INPUT.text2_1{height:20px; font-family: "돋움", "돋움체", "굴림", "굴림체"; font-size: 12px; color: 585858; padding-right:4; padding-top:3;border: 1px solid #CCCCCC;background-color:efefef;text-align:right; ime-mode:active;}
INPUT.text3{height:20px; font-family: "돋움", "돋움체", "굴림", "굴림체"; font-size: 12px; color: 585858; padding-right:4; padding-top:3;border: 0px ;background-color:ffffff;  ime-mode:active;}
INPUT.text3_1{height:20px; font-family: "돋움", "돋움체", "굴림", "굴림체"; font-size: 12px; color: 585858; padding-right:4; padding-top:3;border: 0px ;BACKGROUND-COLOR:#9CB7D5; ime-mode:active;}



SELECT        {FONT-SIZE: 9pt; COLOR: #303030; LINE-HEIGHT: 20px; PADDING-TOP: 0px; FONT-FAMILY: 돋움; border:1px solid #C7C7C7;}
SELECT.GLOBAL {FONT-SIZE: 9pt; COLOR: #85B0CF; LINE-HEIGHT: 20px; PADDING-TOP: 0px; FONT-FAMILY: 돋움; BACKGROUND-COLOR: #041235}
SELECT.type1  {FONT-SIZE: 9pt; COLOR: #303030; LINE-HEIGHT: 20px; PADDING-TOP: 0px; FONT-FAMILY: 돋움; WIDTH: 120px}

/***** 메뉴에 대한 CSS ********************************************************************/
.menu A:link { font-family: "돋움", "돋움체", "굴림", "굴림체", "Arial", "Verdana"; font-size: 12px; color: #000000;TEXT-DECORATION: none}
.menu A:visited{ font-family: "돋움", "돋움체", "굴림", "굴림체", "Arial", "Verdana"; font-size: 12px; color: #000000;TEXT-DECORATION: none}
.menu A:active{	font-family: "돋움", "돋움체", "굴림", "굴림체", "Arial", "Verdana"; font-size: 12px;	color: #000000;TEXT-DECORATION: none;}
.menu A:hover{ font-family: "돋움", "돋움체", "굴림", "굴림체", "Arial", "Verdana"; font-size: 12px; color: #000000;TEXT-DECORATION: none}

.submenu { font-family: "돋움", "돋움체", "굴림", "굴림체", "Arial", "Verdana"; font-size: 12px; color: 474747; height: 19px;	padding-left: 10px; width: 165px;}
.submenu A:link { font-family: "돋움", "돋움체", "굴림", "굴림체", "Arial", "Verdana"; font-size: 12px; color: 474747; TEXT-DECORATION: none}
.submenu A:visited { font-family: "돋움", "돋움체", "굴림", "굴림체", "Arial", "Verdana"; font-size: 12px; color: 474747; TEXT-DECORATION: none}
.submenu A:active { font-family: "돋움", "돋움체", "굴림", "굴림체", "Arial", "Verdana"; font-size: 12px; color: 474747; TEXT-DECORATION: none}
.submenu A:hover { font-family: "돋움", "돋움체", "굴림", "굴림체", "Arial", "Verdana"; font-size: 12px; color: 474747; TEXT-DECORATION: none}

.p_submenu { font-family: "돋움", "돋움체", "굴림", "굴림체", "Arial", "Verdana"; font-size: 12px; color: 474747; height: 19px;	padding-left: 10px; width: 154px;}
.p_submenu A:link { font-family: "돋움", "돋움체", "굴림", "굴림체", "Arial", "Verdana"; font-size: 12px; color: 474747; TEXT-DECORATION: none}
.p_submenu A:visited { font-family: "돋움", "돋움체", "굴림", "굴림체", "Arial", "Verdana"; font-size: 12px; color: 474747; TEXT-DECORATION: none}
.p_submenu A:active { font-family: "돋움", "돋움체", "굴림", "굴림체", "Arial", "Verdana"; font-size: 12px; color: 474747; TEXT-DECORATION: none}
.p_submenu A:hover { font-family: "돋움", "돋움체", "굴림", "굴림체", "Arial", "Verdana"; font-size: 12px; color: 000000; TEXT-DECORATION: none}

.m_submenu { font-family: "굴림", "굴림체","돋움", "돋움체", "Arial", "Verdana"; font-size: 12px; color: 585858;padding-left: 27px;}
.m_submenu A:link { font-family: "굴림", "굴림체","돋움", "돋움체", "Arial", "Verdana"; font-size: 12px; color: 585858; TEXT-DECORATION: none}
.m_submenu A:visited { font-family: "굴림", "굴림체","돋움", "돋움체", "Arial", "Verdana"; font-size: 12px; color: 585858; TEXT-DECORATION: none}
.m_submenu A:active { font-family: "굴림", "굴림체","돋움", "돋움체", "Arial", "Verdana"; font-size: 12px; color: 585858; TEXT-DECORATION: none} 
.m_submenu A:hover { font-family: "굴림", "굴림체","돋움", "돋움체", "Arial", "Verdana"; font-size: 12px; color: 000000; TEXT-DECORATION: none}

.Txtpop{ font-family: "돋움", "돋움체", "굴림", "굴림체", "Arial", "Verdana"; font-size: 12px; color: 585858; BACKGROUND-COLOR:#FEFEFE; padding: 5 10; line-height: 18px;}
.Txtpop A:link { font-family: "돋움", "돋움체", "굴림", "굴림체", "Arial", "Verdana"; font-size: 12px; color: 585858; TEXT-DECORATION: none}
.Txtpop A:visited { font-family: "돋움", "돋움체", "굴림", "굴림체", "Arial", "Verdana"; font-size: 12px; color: 585858; TEXT-DECORATION: none}
.Txtpop A:active { font-family: "돋움", "돋움체", "굴림", "굴림체", "Arial", "Verdana"; font-size: 12px; color: 585858; TEXT-DECORATION: none}
.Txtpop A:hover { font-family: "돋움", "돋움체", "굴림", "굴림체", "Arial", "Verdana"; font-size: 12px; color: FF8B00; TEXT-DECORATION: none}

.Txtpop_2{	font-family: "돋움", "돋움체", "굴림", "굴림체", "Arial", "Verdana"; font-size: 12px; color: 585858;	BACKGROUND-COLOR:#FCF7E6;	padding: 5 10; line-height: 18px;}
.Txtpop_2 A:link { font-family: "돋움", "돋움체", "굴림", "굴림체", "Arial", "Verdana"; font-size: 12px; color: 585858; TEXT-DECORATION: none}
.Txtpop_2 A:visited { font-family: "돋움", "돋움체", "굴림", "굴림체", "Arial", "Verdana"; font-size: 12px; color: 585858; TEXT-DECORATION: none}
.Txtpop_2 A:active { font-family: "돋움", "돋움체", "굴림", "굴림체", "Arial", "Verdana"; font-size: 12px; color: 585858; TEXT-DECORATION: none}
.Txtpop_2 A:hover { font-family: "돋움", "돋움체", "굴림", "굴림체", "Arial", "Verdana"; font-size: 12px; color: FF8B00; TEXT-DECORATION: none}


.msubmenu {	background-attachment: fixed;	background-image: url(img/ROIBgmSubmenu.jpg);background-repeat: repeat-y;	background-position: left top;	padding-top: 5px; padding-bottom: 5px;	border-top-width: 1px;	border-bottom-width: 1px;	border-top-style: solid;	border-bottom-style: solid;	border-top-color: CCCCCC;
	border-bottom-color: CCCCCC;}
	
/***** 컨텐츠 영역에 대한 CSS ********************************************************************/
.title {font-family: "돋움", "돋움체", "굴림", "굴림체", "Arial", "Verdana";font-size: 14px;	font-weight: bolder;color: #000000;}
.div {Z-INDEX: 1; OVERFLOW: auto;scrollbar-face-color: #E9E8E8;scrollbar-shadow-color: #8D8D8D;scrollbar-highlight-color: #FFFFFF;scrollbar-3dlight-color: #8D8D8D; scrollbar-darkshadow-color: #FFFFFF;scrollbar-arrow-color: #8D8D8D;}

.popup_top {font-family: "돋움", "돋움체", "굴림", "굴림체", "Arial", "Verdana";	font-size: 16px;	font-weight: bold; color: #E4E8C5;}

.login {font-family: "돋움", "돋움체", "굴림", "굴림체", "Arial", "Verdana"; font-size: 11px;color: EFE1BC;background-attachment: fixed;background-image: url(../img/ROIBgLoginfo.jpg); background-repeat: no-repeat;	background-position: left top;text-align: center;}

.login_poll {font-family: "돋움", "돋움체", "굴림", "굴림체", "Arial", "Verdana"; font-size: 11px;color: EFE1BC;background-attachment: fixed;background-image: url(../img/ROIBgPollLoginfo.jpg); background-repeat: no-repeat;	background-position: left top;text-align: center;}

.period {background-color: F1EEEB;	border: 1px solid DBD4CC;}
.speriod {	font-family: "돋움", "돋움체", "굴림", "굴림체", "Verdana", "arial";	font-size: 11px;	color: 6B5127;	background-color: #FFFFFF;}

.MsgTxtHelp {font-family: "돋움","돋움체";color:#ff0000;font-size:9pt;}

/***** 팝업관련 CSS ********************************************************************/
.popuptitle_bg { background-color:#A8A192;height:45px;}
.popupbottom_bg { background-color:#A8A192;height:34px;}
.popuptitle_line { background-color:#E3DCCD;height:4px;}
.tbBlack { font-family: "돋움", "돋움체", "굴림", "굴림체", "Arial", "Verdana";font-size: 12px;font-weight: bold;color: #000000;}
.titleP { font-family: "돋움", "돋움체", "굴림", "굴림체", "Arial", "Verdana";	font-size: 14px; font-weight: 600; color: #624F3F; padding-right: 12px;}

.bbsSelectedPageNo { font-weight: bold; color: ED7000;}
.Notice A:hover { font-family: "돋움", "돋움체", "굴림", "굴림체", "Arial", "Verdana"; font-size: 12px; color: #A1003D; TEXT-DECORATION: none}

.hand {
	cursor: hand;
}
