<html>
<head>
<title>
</title>
</head>
<body>
<br>
Dears Customers,<br>
<br>
Please find enclosed the Demurrage / Detention Statement from SM Line<br>
If you have any difficulties or questions pertaining to the statement,<br>
please contact us or reply this message to the email: sszdemurrage@us.smlines.com<br>
<br>
Awaiting for your payment confirmation<br>
<br>
Thanks and Best Regards,<br>
<br>
SM Line Corporation<br>
SAOBB - DEM/DET Department<br>
www.smlines.com<br>
<br>
***********************************<br>
<br>
Prezado Cliente,<br>
Segue em anexo relatório de pendências Demurrage/Detention junto a SM Line<br>
Se você tem quaisquer dificuldades ou dúvidas sobre esse relatório,<br>
Favor contatar-nos ou responder essa mensagem para o email sszdemurrage@us.smlines.com<br>
<br>
Aguardamos vossa confirmação de pagamento.<br>
<br>
Sds.<br>
<br>
</body>
</html>
