<html>
 	<head></head>
 	<body>
		Available Off Hire Quantity (Detail inquiry) List <@ send_dt >
		<br><br>
		Please Refer to the Attached : Available Off-Hire Quantity List.
		<br>
	    Let you check up the List and fill up the your off-Hire Yard & Due Date and Reply.
	    <br>
	    If problemed or questioned, Let us know.

	    <br><br><br>
		Detail inquiry <@ send_dt ><br>
	    <table style='font-family:arial;font-size:10pt;' border=1>
	    	<tr bgcolor='#ccffcc' align='center'>
	    		<td>Seq.</td><td>Container No.</td><td>Off-Hire Yard</td><td>Off-Hire Due Date</td><td>Approved Reference No.</td>
	    	</tr>
	    	<@ cntr_list >
	    </table>
    	<br>
 	</body>
</html>
