<html>
<head>
<title>Commodity Exception Tariff Expiration Notification</title>
</head>
<body>

<br>DMT Tariff type : <@dmdtTrfCd>
<br>Coverage : <@covrg>
<br>Org : <@orgDest>
<br>Commodity : <@cmdt>
<br>Effiective Date : <@effDt>
<br>Expiration Date : <@expDt>
<br>
<br>Above DEM/DET Tariff will be expired on <b><@expDtEng></b>, so please review and update until <font color="red"><b><@expDt7Eng></b></font>.
<br>If you do not update it, serious system error can be caused by the omission of tariff and it can cause huge loss for our company.
<br>Therefore, keep the update due date strictly.
<br>
<br>

</body>
</html>