<html>
 	<head></head>
 	<body>
 		TO : <@ recipient >
		<br>
		FM : <@ confirm_ofc_nm >
		<br><br>
		Dear Sir/Mdm,
		<br><br>
		BIDDING RESULT FOR DISPOSAL NO : <@ disp_no >
		<br><br>	
		We will like to inform your good office that you have won the bid for below unit(s).
		<br> 
		An Invoice will be issued by our Local or Regional Head or Head office. 
		<br>
		Appreciate if your office can make payment and pick up unit(s) within 14 days after invoice issue.
		<br><br>
		Thank you.
		<br><br>
		RIC: <@ confirm_ofc_nm > kindly inform depot to hold below units for you. 
		<br>
		Proceed to issue invoice to buyer and release once payment collected at your end
		<br><br>
	    <table style='font-family:arial;font-size:10pt;' border=1>
	    	<tr bgcolor='#ccffcc' align='center'>
	    		<td>Seq</td><td>DISPOSAL NO</td><td>EQ NO</td><td>TP/SZ</td><td>Yard</td>
	    	</tr>		
	    	<@ detail_list >
	    </table>
    	<br><br><br><br>
		Best Regards,
		<br><br>
		<@ sender_nm >
		<br><br>
		SM LINE
		<br><br>
		<@ confirm_ofc_nm >
 	</body>
</html>