<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
<div>
<br><b>● S/R 截止日期信息</b>
<br>
<br><br>1. VVD : <@vslNm>
<br><br>2. Booking No : <@bkgNo>
<br><br>3. POL/ POD : <@polPodCd>
<br><br>4. ETA / ETD : <@etbEtdDt>
<br><br>5. S/R Cut off Time : <@doc>
<br><br>6. REMARK : <@remark>
<br><br>7. VGM Cut off Time : <@vgmCutOff>
<br><br>8. REMARK : <@remark>
<br>
<br>
<br><font color="blue"><b>尊敬的客户</b></font>
<br><br>1. 请贵司尽快提供正确完整之补料，并与我司文件人员取得书面确认，避免耽误24小时出口舱单申报。
<br><br>2. 如贵司订舱未能赶上截关船期需取消或转船，请书面通知订舱部客服人员。
<br><br>3. 任何提单未能在正常截关时间内提供补料，将收取贵司补料费Late S/I Fee
<br><br>（中国大陆出口：CNY300 per B/L ;  香港出口：HKD400 per B/L）。
<br>
<br>
<br>
<br><br><img src=<@img>>
<br><br>
</div>
</body>
</html>