<div>
<br><b>SM Line Booking Receipt Notice (<@bkgNoTitle>)</b>
<br>
<br><br>Dear Customer,
<br><br>Due to the <@vslCngRsn>, the booking schedule has changed.  Please see the attached schedule and note the change.
<br><br>We apologize for the inconvenience caused and will ensure to keep you updated of any further changes.
<br><br>If you have any additional inquiries, please contact your local customer service office for assistance. 
<br>
<br><br>SM Line Corporation
<br><br>For more detailed information on your shipments, Go to <a href="http://www.smlines.com" target="_blank">http://www.smlines.com</a>
<br><br>
</div>