<div>
<br><b>SM Line Booking Receipt Notice (<@bkgNoTitle>)</b>
<br>
<br><br>Dear Customer,
<br><br>Please be informed that your booking(s) below are received.
<br><br>- Booking No : <@bkgNoBody>
<br><br><@vslNmBody>
<br><br>If you find any discrepancy on attached booking receipt notice, please advise us of what needs to be amended. 
<br>
<br><br>SM Line Corporation
<br><br>For more detailed information on your shipments, Go to <a href="http://www.smlines.com" target="_blank">http://www.smlines.com</a>
<br><br>
</div>
