<html>
<head><title></title></head>
<body>

<table border="0">
    <br>
    <tr>
        <td>VVD</td>
        <td>: <@ vvd ></td>
    </tr>
    <tr>
        <td>B/L No.</td>
        <td>: <@ blNo ></td>
    </tr>
    <tr>
        <td>Shipper Name</td>
        <td>: <@ shipper_nm ></td>
    </tr>
    <tr>
        <td>Consignee Name</td>
        <td>: <@ consignee_nm ></td>
    </tr>
    <tr>
        <td>POL</td>
        <td>: <@ pol_nm ></td>
    </tr>
    <tr>
        <td>POD</td>
        <td>: <@ pod_nm ></td>
    </tr>    
    <tr>
        <td>Response Date</td>
        <td>: <@ irDt ></td>
    </tr>
    </tr>
</table><br><br>
Please contact Shipper to request deletion of unexpected House B/Ls transmitted against BCO(Filer 03) Bkg.
</body>
</html>
