<div style="width:608;text-align:justify;font:15 Calibri;line-height:1.7">
	<b>This e-mail address does not accommodate replies.</b><br>
	<b>Please do not reply to this mail address.</b>
	<p>Thank you for using SM Line Simple Shipping Instruction (S/I).</p>
	Please note that the submitted S/I failed to be processed due to the wrong input of data.<br><br>
	Booking Number : <@bkgNo> <br><br>
	Kindly re-check the submitted details with reference to our "Simple S/I" user guide at:<br> 
	<a style="text-decoration:underline" href="https://www.smlines.com/hanjin/CUP_HOM_3055.do">https://www.smlines.com/hanjin/CUP_HOM_3055.do</a> 
	<p><font color="blue">OR</font> using our checklist below:</p>
	<div style="text-indent:28">
		<div><span style="font-family:Wingdings">&uuml;</span><span style="width:17"></span><b>Please check if you submitted the S/I using SM Line's Simple S/I file (excel).</b></div>
		<div><span style="width:30"></span>-<span style="width:18"></span>Word, PDF and other file formats are not accepted</div>
		<br>
		<div><span style="font-family:Wingdings">&uuml;</span><span style="width:17"></span><b>Please check if you have inputted the booking number.</b></div>
		<div><span style="width:30"></span>-<span style="width:18"></span>Input one booking number per S/I file</div>
		<br>
		<div><span style="font-family:Wingdings">&uuml;</span><span style="width:17"></span><b>Please check if you have added any extra sheet to the file.</b></div>
		<div><span style="width:30"></span>-<span style="width:18"></span>Only the given three (3) sheets are to be used</div>
		<br>
		<div><span style="font-family:Wingdings">&uuml;</span><span style="width:17"></span><b>Please check if you have any wrong character in the data.</b></div>
		<div><span style="width:30"></span>-<span style="width:18"></span>Example. Two decimal points are not allowed (eg: 9.152.00)</div>
		<div><span style="width:30"></span>-<span style="width:18"></span>Example. Container Number column should consist of the container number only</div>
		<div><span style="width:30"></span> <span style="width:20"></span>(eg. HJCU1234567). Please do not input the type size (eg. 40HC), hyphen, slash etc.,</div>
		<br>
		<div><span style="font-family:Wingdings">&uuml;</span><span style="width:17"></span><b>Please check if you have changed the format of the file or cell from the given.</b></div>
		<div><span style="width:30"></span>-<span style="width:18"></span>Kindly utilize only the cells for data input without any change to the format</div>
		<div><span style="width:30"></span>-<span style="width:18"></span>Kindly input the data per row only (i.e. one row of data per cell)</div>
	</div>
	<p>If you should still fail in using the Simple S/I, kindly contact your nearest SM Line Office for assistance. (Local Details are found at: <a style="text-decoration:underline" href="http://www.smlines.com/hanjin/CUP_HOM_1600.do">http://www.smlines.com/hanjin/CUP_HOM_1600.do</a>)</p>
	<p>Thank you for choosing SM Line.</p>
</div>
