<div>
<br/><b>SM Line Simple S/I [B/L No : <@blNo>]</b>
<br/>
<br/><br/>Dear Customer,
<br/><br/>Your booking has been uploaded. 
<br/><br/>Please fill out Shipping Instruction and send it to e-biz@smlines.com 
<br/><br/>> How to use Simple S/I
<br/><br/>   a. Open the attachment and check whether the data in it is   
<br/><br/>      identical with the booking information that you inputted. 
<br/><br/>   b. Input the S/I details and send it to e-biz@smlines.com 
<br/><br/>      (Note: Mail Subject/Title must always be your Booking Number 
<br/><br/>       eg. HKG123456789) 
<br/><br/>   c. For details on the use and data input to our Simple S/I, 
<br/><br/>      please refer to: <a href="http://smlines.com/hanjin/CUP_HOM_3055.do" target="_blank">http://smlines.com/hanjin/CUP_HOM_3055.do</a> 
<br/><br/>      Or, contact our booking staff of your nearest SM Line
<br/><br/>      office for further assistance. 
<br/>
<br/><br/>Thank you for choosing us
<br/><br/>SM Line Corporation
<br/><br/>For more detailed information on your shipments, Go to <a href="http://www.smlines.com" target="_blank">http://www.smlines.com</a>
<br/><br/>
</div>
