<div>
<b>SM Line B/L(s)(B/L No : <@blNoTitle>)</b>
<br/>
<br/>Dear Customer,
<br/>
<br/>Please be informed that your Shipping instruction and/or AES number has not yet been received.
<br/>
<br/>B/L No : <@blNoBody>   
<br/>VSL : <@vslNm>
<br/>ETD : <@etd>
<br/>
<br/>Kindly send your complete shipping instruction by the below Documentation Cut-off time and date.
<br/>
<br/>Due date : <@date>
<br/>Time : <@time>(PST)
<br/>
<br/><font color= "#FF0000"><b>For your convenience, please click below link to upload your shipping instruction file directly into our system.</b></font>
<br/><br/><a href="https://esvc.smlines.com/smline/CUP_HOM_3253.do?sessLocale=en" target="_blank"><img src="http://alps.smlines.com/hanjin/img/si_upload.gif"></a> 
<br/><br/>Thank you for choosing us
<br/><br/>SM Line Corporation 
<br/><br/>For more detailed information on your shipments, Go to <a href="http://www.smlines.com" target="_blank">http://www.smlines.com</a>
<br/><br/>
</div>  