<div>
<br><b>[ATTENTION] Notice for Mis-Sales C/A</b>
<br><br><br>
<table border="0" cellSpacing="0" cellPadding="3">
  <tr><td>Bkg No</td><td>:</td><td colSpan="4"><@bkgNo></td></tr>
  <tr><td>C/A No</td><td>:</td><td colSpan="4"><@caNo></td></tr>
  <tr><td colSpan="6" style="height:10px"></td></tr>
  <tr><td>Contract No</td><td>:</td><td colSpan="4"><@contractNo></td></tr>
  <tr><td>VVD</td><td>:</td><td colSpan="4"><@vvd></td></tr>
  <tr><td colSpan="6" style="height:10px"></td></tr>
  <tr><td width="90">POR</td><td>:</td><td width="100"><@por></td><td width="35">POL</td><td>:</td><td><@pol></td></tr>
  <tr><td>POD</td><td>:</td><td><@pod></td><td>DEL</td><td>:</td><td><@del></td></tr>
</table>
<br>
<br>This C/A has been issued under the "G" type of mis-sales guidance.
<br>It’s caused by a wrong filing or a late filing of freights.
<br>Especially, it directly affects on SML’s customer service quality as well as documentation efficiency.
<br><br>
<br>You are highly required to pay keen attention to the timely rating with accuracy.
<br>At least, you have to create freights within Port Closing Time (PCT).
<br>Thank you for your cooperation.
<br><br>
</div>
