<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Special Cargo Request Rejected</title>
</head>
<body style="margin:0px; color:#666; font-family:Arial, 돋움, dotum, sans-serif; font-size:11px;">
	<table border="0" cellspacing="0" cellpadding="0" width="750">
	<tbody>

		<tr>
			<td style="padding:25px">
				<!-- body S //-->
				<table border="0" cellspacing="0" cellpadding="0" width="700" style="color:#666; font-family:Arial, 돋움, dotum, sans-serif; font-size:12px; line-height:17px">
				<tbody>

					<tr>
						<td colspan="2" height="20"><!-- 여백 //--></td>
					</tr>
					<!-- e-Mail 내용 S //-->
					<tr>
						<td colspan="2" style="padding:25px; border:7px solid #cbd6e6; ">
							
							<table border="0" cellspacing="0" cellpadding="0" style="width:100%; color:#666; font-family:Arial, 돋움, dotum, sans-serif; font-size:12px; line-height:17px">
							<tbody>
								<tr>
									<td valign="top">
										<h3 style="margin-top:0px; color:#666; font-family:'arial','dotum'; font-size:14px;">Dear <@custNm>,<br>
										<img src="http://esvc.smlines.com/smline/images/img/mail/line-mail-h3.gif" title="" alt="" border="0" />
										</h3>
										<p>Special Cargo Request Rejected (BKG No: <@bkgNo>) <br><br>
										    
										    Your request for Special Cargo Application on BKG No <@bkgNo> has been rejected by the operation team. <br><br>

    	                                    Please check the reason and take the necessary actions accordingly. <br><br>	
  	
										   	Thank you. <br><br>
										    
										   </td>
									<td align="right" valign="top">
										<img src="http://esvc.smlines.com/smline/images/img/mail/img-email-welcometohanjin.gif" alt="Welcome to HANJIN SHIPPING" title="" border="0" />
									</td>
								</tr>
							</tbody>
							</table>

					</td>
					</tr>
					<!-- e-Mail 내용 E //-->
				</tbody>
				</table>
				<!-- body E //-->
			</td>
		</tr>
		<!-- footer S //-->
		<tr>
			<td style="padding:0 0 25px 60px; color:#a3a3a3; font-size:9px; font-weight:bold">
				<img src="http://esvc.smlines.com/smline/images/img/mail/bul-mail-square.gif" alt="" border="0" />This E-mail is for notification only. 
			</td>
		</tr>
		<!-- footer E //-->
	</tbody>
	</table>
</body>
</html>
