<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
<div>
<br><b>● A Guide to Container Pickup [SM LINE]</b>
<br>
<br><br>1. VVD : <@vslNm>
<br><br>2. Booking No : <@bkgNo>
<br><br>3. POL / POD : <@polPodCd>
<br><br>4. ETA / ETD : <@etbEtdDt>
<br><br>5. Cargo Cut-off Time : <@cargo>
<br><br>6. Booking Q'ty : <@bkgQty>
<br><br>7. Pickup Q'ty : <@cntrQty>
<br>
<br>
<br><font color="blue"><b>Notice :</b></font>
<br><br>Please be advised that the number of Empty Container you had picked up is not equal to the quantity at the time of booking.
<br><br>Above all, please ensure that the shipment volume is going according to your booking plan. Also, if there's any change of
<br><br>Shipment Schedule, Quantity, etc, please update it over our website (www.smlines.com) or through the booking staff.
<br><br>Thank you !</b>
<br>
<br>
<br><br><img src=<@img>>
<br><br>
</div>
</body>
</html>