<html>
<head><title></title></head>
<body>

<table border="0">
    <tr>
        <td>VVD</td>
        <td>: <@ vvd ></td>
    </tr>
    <tr>
        <td>B/L No.</td>
        <td>: <@ blNo ></td>
    </tr>
    <tr>
        <td valign="top">Response Message</td>
        <td>: <@ rejDesc ></td>
    </tr>
    <tr>
        <td>Response Date</td>
        <td>: <@ irDt ></td>
    </tr>
    </tr>
</table><br><br>
This is only sent to <@ msgTpId > Transmitter & BKG staff. <br>
If you are not PIC, YOU Must forward this mail to PIC in order to handle it properly
</body>
</html>
