<div style="width:608;text-align:justify;font:15 Calibri;line-height:1.7">
	<b>This e-mail address does not accommodate replies.</b><br>
	<b>Please do not reply to this mail address.</b>
	<p>Thank you for using SM Line Simple Booking.</p>
	Please note that the submitted Booking <span style="color:red"><b>( email title: <@emailSubject> )</b></span>  failed to be processed due to the wrong input of data or missing item.<br>
	Kindly re-check whether below mandatory items are inputted properly.<br><br>
	<b>* Mandatory Items for booking creation with Simple Booking</b>
	<p>   - Shipper (Name, Address in Detail, and Contact Point), Departure Date, Place of Receipt, 
	    Port of Loading, Place of Delivery, R-Term, D-Term, Total Weight.</p>
	<b>* Check Points</b><br>
	<div style="text-indent:28">
		<div><span style="font-family:Wingdings">&uuml;</span><span style="width:17"></span><b>Please check if you submitted the Booking using SM Line's Simple Booking file (excel).</b></div>
		<div><span style="width:30"></span>-<span style="width:18"></span>Word, PDF and other file formats are not accepted</div>
		<br>
		<div><span style="font-family:Wingdings">&uuml;</span><span style="width:17"></span><b>Please check if you have any wrong character in the data.</b></div>
		<div><span style="width:30"></span>-<span style="width:18"></span>Example. Two decimal points are not allowed (eg: 18,000.00)</div>
		<br>
		<div><span style="font-family:Wingdings">&uuml;</span><span style="width:17"></span><b>Please check if you have changed the format of the file or cell from the given.</b></div>
		<div><span style="width:30"></span>-<span style="width:18"></span>Kindly utilize only the cells for data input without any change to the format</div>
		<div><span style="width:30"></span>-<span style="width:18"></span>Kindly input the data per row only (i.e. one row of data per cell)</div>
	</div>
	<p>After review, if you cannot determine the issue causing the failure notice, please contact the booking department for further assistance. </p>
	
	<table border="1" cellspacing="0" cellpadding="0" width="476" style="border-collapse:collapse;border:none">
	<tr>
		<td width="240"  style="width:180.0pt;border:none;padding:0cm 5.4pt 0cm 5.4pt;height:15.0pt">
			<p><b><span style="font-size:11.0pt;font-family:&quot;Times New Roman&quot;,&quot;serif&quot;;">Booking Groups&nbsp; </span></b></p>
		</td>
		<td width="215" style="width:161.25pt;border:none;padding:0cm 5.4pt 0cm 5.4pt;height:15.0pt"></td>
	</tr>
	<tr>
		<td style="border:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:15.0pt">
			<p><span style="font-size:9.0pt;font-family:&quot;Times New Roman&quot;,&quot;serif&quot;;color:black;">Group Email</span></p>
		</td>
		<td style="border:solid windowtext 1.0pt;border-left:none;padding:0cm 5.4pt 0cm 5.4pt;height:15.0pt">
			<p><span style="font-size:9.0pt;font-family:&quot;Times New Roman&quot;,&quot;serif&quot;;color:black;">Description </span></p>
		</td>
	</tr>
	<tr>
		<td style="border:solid windowtext 1.0pt;border-top:none;padding:0cm 5.4pt 0cm 5.4pt;height:15.0pt">
			<p><u><span style="font-size:11.0pt;color:blue"><a href="mailto:pswbook@us.smlines.com" target="_blank">
			<span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;;">pswbook@us.smlines.com</span></a></span></u></p>
		</td>
		<td style="border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:15.0pt">
			<p><span style="font-size:9.0pt;font-family:&quot;Times New Roman&quot;,&quot;serif&quot;;color:black;">PSW (Pacific South-West) Loading</span></p>
		</td>
	</tr>
	<tr>
		<td style="border:solid windowtext 1.0pt;border-top:none;padding:0cm 5.4pt 0cm 5.4pt;height:15.0pt">
			<p><u><span style="font-size:11.0pt;color:blue"><a href="mailto:pnwbook@us.smlines.com" target="_blank"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;;">pnwbook@us.smlines.com</span></a></span></u></p>
		</td>
		<td style="border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:15.0pt">
			<p><span style="font-size:9.0pt;font-family:&quot;Times New Roman&quot;,&quot;serif&quot;;color:black;">PNW (Pacific North-West) Loading</span></p>
		</td>
	</tr>
	<tr>
		<td style="border:solid windowtext 1.0pt;border-top:none;padding:0cm 5.4pt 0cm 5.4pt;height:15.0pt">
			<p><u><span style="font-size:11.0pt;color:blue"><a href="mailto:ecbook@us.smlines.com" target="_blank"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;;">ecbook@us.smlines.com</span></a></span></u></p>
		</td>
		<td style="border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:15.0pt">
			<p><span style="font-size:9.0pt;font-family:&quot;Times New Roman&quot;,&quot;serif&quot;;color:black;">East-Coast and Houston Loading</span></p>
		</td>
	</tr>
</table>
</div>
