<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>[SM LINE] B/L발급 완료 알림</title>
</head>
<body style="margin:0px; color:#666; font-family:Arial, 돋움, dotum, sans-serif; font-size:11px;">
	<table border="0" cellspacing="0" cellpadding="0" width="750">
	<tbody>

		<tr>
			<td style="padding:25px">
				<!-- body S //-->
				<table border="0" cellspacing="0" cellpadding="0" width="700" style="color:#666; font-family:Arial, 돋움, dotum, sans-serif; font-size:12px; line-height:17px">
				<tbody>

					<tr>
						<td colspan="2" height="20"><!-- 여백 //--></td>
					</tr>
					<!-- e-Mail 내용 S //-->
					<tr>
						<td colspan="2" style="padding:25px; border:7px solid #cbd6e6; ">
							
							<table border="0" cellspacing="0" cellpadding="0" style="width:100%; color:#666; font-family:Arial, 돋움, dotum, sans-serif; font-size:12px; line-height:17px">
							<tbody>
								<tr>
									<td valign="top">
										<h3 style="margin-top:0px; color:#666; font-family:'arial','dotum'; font-size:14px;"><@custNm> 님<br>
										<img src="http://esvc.smlines.com/smline/images/img/mail/line-mail-h3.gif" title="" alt="" border="0" />
										</h3>
										<p>SM LINE을 이용해 주셔서 감사합니다.<br><br>
										    
										    고객님의 비엘 발급이 완료되었으니, SM LINE 홈페이지에서 확인하세요.
    <br>                                        	
  <a href="http://esvc.smlines.com/smline/CUP_HOM_3235.do" target="_blank" style="color:#058fc2; text-decoration:underline">해당화면 바로가기</a><br><br>
										    단, Original B/L은 에스엠상선 객장에 준비되었으니 방문하시어 수령 바랍니다.<br><br>
										    <strong>에스엠상선 객장 연락처</strong><br>
										    &lt;서울&gt;<br>
										    <strong>Tel</strong> : (02)3770-6915/6928, <strong>Fax</strong> : (02)2287-3365<br>
										    <br>
										    &lt;부산&gt;<br>										
										    <strong>Tel</strong> : (051)440-1612/1613, <strong>Fax</strong> : (02)2287-3371</p>
										   </td>
									<td align="right" valign="top">
										<img src="http://esvc.smlines.com/smline/images/img/mail/img-email-welcometohanjin.gif" alt="Welcome to SM LINE" title="" border="0" />
									</td>
								</tr>
							</tbody>
							</table>
							<br>
                            <h4 style="margin:0 0 5px 0; color:#2b548f; font-family:'arial','dotum'; font-size:12px;">[SM LINE] B/L 발급정보 <br>
							</h4>
							<table cellspacing="0" cellpadding="0" width="100%" style="border:1px solid #ccdaed; background:#e5eefb;">
							    <tbody>
							        <tr>
							            <td width="25"></td>
							            <td align="center" style="padding:10px;"><table border="0" cellspacing="0" cellpadding="3" style="color:#295088; font-size:14px; font-weight:bold; text-align:left">
							                <tr>
							                    <td>B/L No:</td>
							                    <td height="24"><@blNo></td>
							                    </tr>
							                </table></td>
							            <td width="30"></td>
							            </tr>
							        </tbody>
							    </table>
					</td>
					</tr>
					<!-- e-Mail 내용 E //-->
				</tbody>
				</table>
				<!-- body E //-->
			</td>
		</tr>
		<!-- footer S //-->
		<tr>
			<td style="padding:0 0 25px 60px; color:#a3a3a3; font-size:9px; font-weight:bold">
				<img src="http://esvc.smlines.com/smline/images/img/mail/bul-mail-square.gif" alt="" border="0" />This E-mail is for notification only. If you have questions or comments, please email us at <a href="mailto:webmaster@smlines.com" style="color:#68cff6; text-decoration:underline">webmaster@smlines.com</a>
			</td>
		</tr>
		<!-- footer E //-->
	</tbody>
	</table>
</body>
</html>
