<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<div>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<br><b>森罗Draft提单Draft B/L(s) (<@blNoTitle>)</b>
<br>
<br><br>亲爱的顾客,
<br><br>我们已根据您提单确认件缮制完毕您的提单。
<br><br>--提单号 : <@blNoBody>
<br>
<br><br>请确认是否和您的要求一致；另外，假如您就附上的Draft提单发现了任何不符之处，请告知我们需要修改的地方。
<br><br>另外，假如您并非credit客户，请在签单之前结清费用 
<br>
<br><br>感谢您选择我们。
<br>
<@emlCtnt>
<br>
<br><br>若想获取更多关于获取的详细信息，请登录我们公司的网站 <a href="http://www.smlines.com" target="_blank">http://www.smlines.com</a>
<br><br>
</div>
