<div>
<b>SM Line B/L(s)(B/L No : <@blNoTitle>)</b>
<br/>
<br/>Dear Customer,
<br/>
<br/>Please be informed that your AES(CAED) number has not yet been received.
<br/>
<br/>B/L No : <@blNoBody> 
<br/>VSL : <@vslNm>   
<br/>ETD : <@etd>
<br/>
<br/>Kindly send your complete AES(CAED) number by the below Cut-off time and date.
<br/>
<br/>Due date : <@date>
<br/>Time : <@time>(PST)
<br/>
<br/><font color= "#FF0000"><b>Please be advised, you can also submit your AES/CAED on our Website and it will transfer directly to our system.  Please click the below link to submit your AES/CAED number.</b></font>
<br/><br/><a href=<@url> target="_blank"><img src="http://alps.smlines.com/hanjin/img/ac_upload.gif"></a> 
<br/><br/>Thank you for choosing us
<br/><br/>SM Line Corporation
<br/><br/>For more detailed information on your shipments, Go to <a href="http://www.smlines.com" target="_blank">http://www.smlines.com</a>
<br/><br/>
</div>
