<div>
<br><b>SM Line Draft B/L(s) (<@blNoTitle>)</b>
<br>
<br><br>Dear Customer,
<br><br>Please be informed that B/L(s) are ready as per your shipping instruction.
<br><br>- B/L No : <@blNoBody>
<br>
<br><br>Kindly confirm your approval and B/L requirement.  
<br><br>Meanwhile, if you find any discrepancy on attached draft B/Ls, please advise us of what needs to 
<br><br>be amended.  
<br><br>In case of non-credit customers, please settle the payment prior to B/L issuance.
<br>
<br>
<br>
<@emlCtnt> 
<br>
<br><br>Thank you for choosing SM Line.
<br><br>SM Line Corporation
<br><br>For more detailed information on your shipments, Go to <a href="http://www.smlines.com" target="_blank">http://www.smlines.com</a>
<br><br>
</div>
