<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >

<log4j:configuration>



	<!--  Standard Output  -->

	<appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">

   		<layout class="org.apache.log4j.PatternLayout">

     		<param name="ConversionPattern" value="%d{yyyy MMM dd HH:mm:ss}|||%p|||%x|||%t|||%c|||%l|||%m %n"/>

		</layout>

     </appender>

	<!-- FRAMEWORK OUTPUT -->

	<appender name="FILE_FRWK" class="org.apache.log4j.ExtDailyRollingFileAppender">

		<param name="File" value="/sitelog/WEBLOG/ALPSDEV/FRMDaily.log"/>

		<param name="DatePattern" value="'.'yyyy-MM-dd-a"/>

		<param name="Append" value="true" />

		<layout class="org.apache.log4j.PatternLayout">

		        <param name="ConversionPattern" value="%d{yyyy MMM dd HH:mm:ss}|||%p|||%x|||%t|||%c|||%l|||%m %n" />

		</layout>

	</appender>

	<appender name="FILE_HANDLE" class="org.apache.log4j.ExtDailyRollingFileAppender">

		<param name="File" value="/sitelog/WEBLOG/ALPSDEV/remoteCopyShell_call.log" />

		<param name="DatePattern" value="'.'yyyy-MM-dd-a"/>

		<param name="Append" value="true" />

		<layout class="org.apache.log4j.PatternLayout">

			<param name="ConversionPattern" value="%d{yyyy MMM dd HH:mm:ss}|||%p|||%x|||%t|||%c|||%l|||%m %n" />

		</layout>

	</appender>



 		<!-- signon log check -->

   <appender name="FILE.FRWK.SOF" class="org.apache.log4j.ExtDailyRollingFileAppender">

                <param name="File" value="/sitelog/WEBLOG/ALPSDEV/FRMDailySignOnFilter.log" />

			  		<param name="DatePattern" value="'.'yyyy-MM-dd-a"/>

					<param name="Append" value="true" />

					<layout class="org.apache.log4j.PatternLayout">

						<param name="ConversionPattern" value="%d{yyyy MMM dd HH:mm:ss}|||%p|||%x|||%t|||%c|||%l|||%m %n" />

			        </layout>

        </appender>

		<!-- signon log check -->



	<!-- FRAMEWORK OUTPUT -->

	

    <!-- ===========================FILE APPENDER========================= -->



		<!-- ==========================================================

        	*  EAI FILE

		============================================================= -->

		<!-- 20111117 modify by 9011644

			EDI connect log divide 

			: INBOUNDEAIFILE => INBOUNDEAIFILE_JMS, INBOUNDEAIFILE_EDI

		 -->

		<appender name="INBOUNDEAIFILE_JMS" class="org.apache.log4j.ExtDailyRollingFileAppender">

			<param name="File" value="/sitelog/WEBLOG/connector/eai_connector_inbound_jms.log" />

			<param name="Append" value="true" />

			<param name="DatePattern" value="'.'yyyy-MM-dd" />

			<layout class="org.apache.log4j.PatternLayout">

				<param name="ConversionPattern" value="%d{yyyy MMM dd HH:mm:ss}|||%p|||%x|||%t|||%c|||%l|||%m %n" />

			</layout>

		</appender>

		<appender name="EAI_DB_TRANSACTION" class="org.apache.log4j.ExtDailyRollingFileAppender">

			<param name="File" value="/sitelog/WEBLOG/connector/eai_db_transaction.log" />

			<param name="Append" value="true" />

			<param name="DatePattern" value="'.'yyyy-MM-dd" />

			<layout class="org.apache.log4j.PatternLayout">

				<param name="ConversionPattern" value="%d{yyyy MMM dd HH:mm:ss}|||%p|||%x|||%t|||%c|||%l|||%m %n" />

			</layout>

		</appender>

		<!-- 20111117 add by 9011644

			EDI connect log divide 

			: INBOUNDEAIFILE => INBOUNDEAIFILE_JMS, INBOUNDEAIFILE_EDI

		 -->

		<appender name="INBOUNDEAIFILE_EDI" class="org.apache.log4j.ExtDailyRollingFileAppender">

			<param name="File" value="/sitelog/WEBLOG/connector/eai_connector_inbound_edi.log" />

			<param name="Append" value="true" />

			<param name="DatePattern" value="'.'yyyy-MM-dd" />

			<layout class="org.apache.log4j.PatternLayout">

				<param name="ConversionPattern" value="%d{yyyy MMM dd HH:mm:ss}|||%p|||%x|||%t|||%c|||%l|||%m %n" />

			</layout>

		</appender>

		

		

		

		<appender name="INBOUNDEAIFILE_MDM" class="org.apache.log4j.ExtDailyRollingFileAppender">

			<param name="File" value="/sitelog/WEBLOG/connector/eai_connector_inbound_mdm.log" />

			<param name="Append" value="true" />

			<param name="DatePattern" value="'.'yyyy-MM-dd" />

			<layout class="org.apache.log4j.PatternLayout">

				<param name="ConversionPattern" value="%d{yyyy MMM dd HH:mm:ss}|||%p|||%x|||%t|||%c|||%l|||%m %n" />

			</layout>

		</appender>

			<!--  Queue Log Appender START  -->

			<appender name="UDEVHJS_ALPSINV_T_INVOIC" class="org.apache.log4j.ExtDailyRollingFileAppender">

				<param name="File" value="/sitelog/WEBLOG/connector/UDEVHJS_ALPSINV_T_INVOIC.log" />

				<param name="Append" value="true" />

				<param name="DatePattern" value="'.'yyyy-MM-dd" />

				<layout class="org.apache.log4j.PatternLayout">

					<param name="ConversionPattern" value="%d{yyyy MMM dd HH:mm:ss}|||%p|||%x|||%t|||%c|||%l|||%m %n" />

				</layout>

			</appender>

			<appender name="UDEVHJS_ALPSMNR_T_WESTIM" class="org.apache.log4j.ExtDailyRollingFileAppender">

				<param name="File" value="/sitelog/WEBLOG/connector/UDEVHJS_ALPSMNR_T_WESTIM.log" />

				<param name="Append" value="true" />

				<param name="DatePattern" value="'.'yyyy-MM-dd" />

				<layout class="org.apache.log4j.PatternLayout">

					<param name="ConversionPattern" value="%d{yyyy MMM dd HH:mm:ss}|||%p|||%x|||%t|||%c|||%l|||%m %n" />

				</layout>

			</appender>

			<appender name="UDEVHJS_ALPSTES_T_EDI" class="org.apache.log4j.ExtDailyRollingFileAppender">

				<param name="File" value="/sitelog/WEBLOG/connector/UDEVHJS_ALPSTES_T_EDI.log" />

				<param name="Append" value="true" />

				<param name="DatePattern" value="'.'yyyy-MM-dd" />

				<layout class="org.apache.log4j.PatternLayout">

					<param name="ConversionPattern" value="%d{yyyy MMM dd HH:mm:ss}|||%p|||%x|||%t|||%c|||%l|||%m %n" />

				</layout>

			</appender>

			<!--  Queue Log Appender STOP  -->

		<appender name="OUTBOUNDEAIFILE" class="org.apache.log4j.ExtDailyRollingFileAppender">

			<param name="File" value="/sitelog/WEBLOG/connector/eai_connector_outbound.log" />

			<param name="Append" value="true" />

			<param name="DatePattern" value="'.'yyyy-MM-dd" />

			<layout class="org.apache.log4j.PatternLayout">

				<param name="ConversionPattern" value="%d{yyyy MMM dd HH:mm:ss}|||%p|||%x|||%t|||%c|||%l|||%m %n" />

			</layout>

		</appender>

		<appender name="WTCEAIFILE" class="org.apache.log4j.ExtDailyRollingFileAppender">

			<param name="File" value="/sitelog/WEBLOG/connector/eai_connector_wtc.log" />

			<param name="Append" value="true" />

			<param name="DatePattern" value="'.'yyyy-MM-dd" />

			<layout class="org.apache.log4j.PatternLayout">

				<param name="ConversionPattern" value="%d{yyyy MMM dd HH:mm:ss}|||%p|||%x|||%t|||%c|||%l|||%m %n" />

			</layout>

		</appender>

		<appender name="DBEAI" class="com.jf.transfer.eai.util.DBAppender" >

			<param name="URL" value="jdbc:oracle:thin:@203.246.151.228:1521:CLTSSA" />

			<param name="Threshold" value="DEBUG" />

			<param name="User" value="cltappl" />

			<param name="Password" value="cltappl" />

			<param name="Tablename" value="COM_CONN_ENIS_LOG" />

			<param name="Driver" value="oracle.jdbc.driver.OracleDriver" />

			<param name="sql" value="%m\n" />

		</appender>  

		<!-- ==========================================================

		       *  EAI FILE

		============================================================= -->

		<!-- ==========================================================
        	*  COMMON FILE
		============================================================= -->
        <appender name="FILE.COM.BIZ" class="org.apache.log4j.ExtDailyRollingFileAppender">
                <param name="File" value="/sitelog/WEBLOG/ALPSDEV/com_biz.log" />
                <param name="DatePattern" value="'.'yyyy-MM-dd"/>
                <param name="Append" value="true" />
                <layout class="org.apache.log4j.PatternLayout">
                        <param name="ConversionPattern" value="%d{yyyy MMM dd HH:mm:ss}|||%p|||%x|||%t|||%c|||%l|||%m %n" />
                </layout>
        </appender>
        <appender name="FILE.COM.SYS" class="org.apache.log4j.ExtDailyRollingFileAppender">
                <param name="File" value="/sitelog/WEBLOG/ALPSDEV/com_sys.log" />
                <param name="DatePattern" value="'.'yyyy-MM-dd"/>
                <param name="Append" value="true" />
                <layout class="org.apache.log4j.PatternLayout">
                        <param name="ConversionPattern" value="%d{yyyy MMM dd HH:mm:ss}|||%p|||%x|||%t|||%c|||%l|||%m %n" />
                </layout>
        </appender>
		<!-- ==========================================================
        	*  COMMON FILE
		============================================================= -->

		<!-- ==========================================================

		       *  BIZ FILE

		============================================================= -->

        <appender name="FILE.EES.EQR" class="org.apache.log4j.ExtDailyRollingFileAppender">

                <param name="File" value="/sitelog/WEBLOG/ALPSDEV/ees_eqr.log" />

                <param name="DatePattern" value="'.'yyyy-MM-dd-a"/>

                <param name="Append" value="true" />

                <layout class="org.apache.log4j.PatternLayout">

                        <param name="ConversionPattern" value="%d{yyyy MMM dd HH:mm:ss}|||%p|||%x|||%t|||%c|||%l|||%m %n" />

                </layout>

        </appender>
        
        <appender name="FILE.EES.DOD" class="org.apache.log4j.ExtDailyRollingFileAppender">

                <param name="File" value="/sitelog/WEBLOG/ALPSDEV/ees_dod.log" />

                <param name="DatePattern" value="'.'yyyy-MM-dd-a"/>

                <param name="Append" value="true" />

                <layout class="org.apache.log4j.PatternLayout">

                        <param name="ConversionPattern" value="%d{yyyy MMM dd HH:mm:ss}|||%p|||%x|||%t|||%c|||%l|||%m %n" />

                </layout>

        </appender>

        <appender name="FILE.ESD.LEA" class="org.apache.log4j.ExtDailyRollingFileAppender">

                <param name="File" value="/sitelog/WEBLOG/ALPSDEV/esd_lea.log" />

                <param name="DatePattern" value="'.'yyyy-MM-dd-a"/>

                <param name="Append" value="true" />

                <layout class="org.apache.log4j.PatternLayout">

                        <param name="ConversionPattern" value="%d{yyyy MMM dd HH:mm:ss}|||%p|||%x|||%t|||%c|||%l|||%m %n" />

                </layout>

        </appender>

        <appender name="FILE.ESM.AGT" class="org.apache.log4j.ExtDailyRollingFileAppender">

                <param name="File" value="/sitelog/WEBLOG/ALPSDEV/esm_agt.log" />

                <param name="DatePattern" value="'.'yyyy-MM-dd-a"/>

                <param name="Append" value="true" />

                <layout class="org.apache.log4j.PatternLayout">

                        <param name="ConversionPattern" value="%d{yyyy MMM dd HH:mm:ss}|||%p|||%x|||%t|||%c|||%l|||%m %n" />

                </layout>

        </appender>

        <appender name="FILE.ESM.COA" class="org.apache.log4j.ExtDailyRollingFileAppender">

                <param name="File" value="/sitelog/WEBLOG/ALPSDEV/esm_coa.log" />

                <param name="DatePattern" value="'.'yyyy-MM-dd-a"/>

                <param name="Append" value="true" />

                <layout class="org.apache.log4j.PatternLayout">

                        <param name="ConversionPattern" value="%d{yyyy MMM dd HH:mm:ss}|||%p|||%x|||%t|||%c|||%l|||%m %n" />

                </layout>

        </appender>

		<appender name="FILE.ESM.MAS" class="org.apache.log4j.ExtDailyRollingFileAppender">
               
                <param name="File" value="/sitelog/WEBLOG/ALPSDEV/esm_mas.log" />
               
                <param name="DatePattern" value="'.'yyyy-MM-dd-a"/>
               
                <param name="Append" value="true" />
               
                <layout class="org.apache.log4j.PatternLayout">
               
                        <param name="ConversionPattern" value="%d{yyyy MMM dd HH:mm:ss}|||%p|||%x|||%t|||%c|||%l|||%m %n" />
               
                </layout>
        </appender>    
		
		<appender name="FILE.ESM.SPC" class="org.apache.log4j.ExtDailyRollingFileAppender">

                <param name="File" value="/sitelog/WEBLOG/ALPSDEV/esm_spc.log" />

                <param name="DatePattern" value="'.'yyyy-MM-dd-a"/>

                <param name="Append" value="true" />

                <layout class="org.apache.log4j.PatternLayout">

                        <param name="ConversionPattern" value="%d{yyyy MMM dd HH:mm:ss}|||%p|||%x|||%t|||%c|||%l|||%m %n" />

                </layout>

        </appender>

        <appender name="FILE.ESM.SAQ" class="org.apache.log4j.ExtDailyRollingFileAppender">

                <param name="File" value="/sitelog/WEBLOG/ALPSDEV/esm_saq.log" />

                <param name="DatePattern" value="'.'yyyy-MM-dd-a"/>

                <param name="Append" value="true" />

                <layout class="org.apache.log4j.PatternLayout">

                        <param name="ConversionPattern" value="%d{yyyy MMM dd HH:mm:ss}|||%p|||%x|||%t|||%c|||%l|||%m %n" />

                </layout>

        </appender>

        <appender name="FILE.ESM.SQM" class="org.apache.log4j.ExtDailyRollingFileAppender">

        		<param name="File" value="/sitelog/WEBLOG/ALPSDEV/esm_sqm.log" />

                <param name="DatePattern" value="'.'yyyy-MM-dd-a"/>

                <param name="Append" value="true" />

                <layout class="org.apache.log4j.PatternLayout">

                		<param name="ConversionPattern" value="%d{yyyy MMM dd HH:mm:ss}|||%p|||%x|||%t|||%c|||%l|||%m %n" />

                </layout>

        </appender>

        <appender name="FILE.ESD.AOC" class="org.apache.log4j.ExtDailyRollingFileAppender">

                <param name="File" value="/sitelog/WEBLOG/ALPSDEV/esd_aoc.log" />

                <param name="DatePattern" value="'.'yyyy-MM-dd-a"/>

                <param name="Append" value="true" />

                <layout class="org.apache.log4j.PatternLayout">

                        <param name="ConversionPattern" value="%d{yyyy MMM dd HH:mm:ss}|||%p|||%x|||%t|||%c|||%l|||%m %n" />

                </layout>

        </appender>

        <appender name="FILE.ESD.PRD" class="org.apache.log4j.ExtDailyRollingFileAppender">

                <param name="File" value="/sitelog/WEBLOG/ALPSDEV/esd_prd.log" />

                <param name="DatePattern" value="'.'yyyy-MM-dd-a"/>

                <param name="Append" value="true" />

                <layout class="org.apache.log4j.PatternLayout">

                        <param name="ConversionPattern" value="%d{yyyy MMM dd HH:mm:ss}|||%p|||%x|||%t|||%c|||%l|||%m %n" />

                </layout>

        </appender>

        <appender name="FILE.ESD.SCE" class="org.apache.log4j.ExtDailyRollingFileAppender">

                <param name="File" value="/sitelog/WEBLOG/ALPSDEV/esd_sce.log" />

                <param name="DatePattern" value="'.'yyyy-MM-dd-a"/>

                <param name="Append" value="true" />

                <layout class="org.apache.log4j.PatternLayout">

                        <param name="ConversionPattern" value="%d{yyyy MMM dd HH:mm:ss}|||%p|||%x|||%t|||%c|||%l|||%m %n" />

                </layout>

        </appender>

        <appender name="FILE.ESD.TES" class="org.apache.log4j.ExtDailyRollingFileAppender">

                <param name="File" value="/sitelog/WEBLOG/ALPSDEV/esd_tes.log" />

                <param name="DatePattern" value="'.'yyyy-MM-dd-a"/>

                <param name="Append" value="true" />

                <layout class="org.apache.log4j.PatternLayout">

                        <param name="ConversionPattern" value="%d{yyyy MMM dd HH:mm:ss}|||%p|||%x|||%t|||%c|||%l|||%m %n" />

                </layout>

        </appender>

        <appender name="FILE.ESD.TPB" class="org.apache.log4j.ExtDailyRollingFileAppender">

                <param name="File" value="/sitelog/WEBLOG/ALPSDEV/esd_tpb.log" />

                <param name="DatePattern" value="'.'yyyy-MM-dd-a"/>

                <param name="Append" value="true" />

                <layout class="org.apache.log4j.PatternLayout">

                        <param name="ConversionPattern" value="%d{yyyy MMM dd HH:mm:ss}|||%p|||%x|||%t|||%c|||%l|||%m %n" />

                </layout>

        </appender>

        <appender name="FILE.ESD.TRS" class="org.apache.log4j.ExtDailyRollingFileAppender">

                <param name="File" value="/sitelog/WEBLOG/ALPSDEV/esd_trs.log" />

                <param name="DatePattern" value="'.'yyyy-MM-dd-a"/>

                <param name="Append" value="true" />

                <layout class="org.apache.log4j.PatternLayout">

                        <param name="ConversionPattern" value="%d{yyyy MMM dd HH:mm:ss}|||%p|||%x|||%t|||%c|||%l|||%m %n" />

                </layout>

        </appender>

        <appender name="FILE.ESD.EAS" class="org.apache.log4j.ExtDailyRollingFileAppender">

                <param name="File" value="/sitelog/WEBLOG/ALPSDEV/esd_eas.log" />

                <param name="DatePattern" value="'.'yyyy-MM-dd-a"/>

                <param name="Append" value="true" />

                <layout class="org.apache.log4j.PatternLayout">

                        <param name="ConversionPattern" value="%d{yyyy MMM dd HH:mm:ss}|||%p|||%x|||%t|||%c|||%l|||%m %n" />

                </layout>

        </appender>

        <appender name="FILE.CPS.GEM" class="org.apache.log4j.ExtDailyRollingFileAppender">

                <param name="File" value="/sitelog/WEBLOG/ALPSDEV/cps_gem.log" />

                <param name="DatePattern" value="'.'yyyy-MM-dd-a"/>

                <param name="Append" value="true" />

                <layout class="org.apache.log4j.PatternLayout">

                        <param name="ConversionPattern" value="%d{yyyy MMM dd HH:mm:ss}|||%p|||%x|||%t|||%c|||%l|||%m %n" />

                </layout>

        </appender>

        <appender name="FILE.EES.CGM" class="org.apache.log4j.ExtDailyRollingFileAppender">

                <param name="File" value="/sitelog/WEBLOG/ALPSDEV/ees_cgm.log" />

                <param name="DatePattern" value="'.'yyyy-MM-dd-a"/>

                <param name="Append" value="true" />

                <layout class="org.apache.log4j.PatternLayout">

                        <param name="ConversionPattern" value="%d{yyyy MMM dd HH:mm:ss}|||%p|||%x|||%t|||%c|||%l|||%m %n" />

                </layout>

        </appender>

        <appender name="FILE.EES.CIM" class="org.apache.log4j.ExtDailyRollingFileAppender">

                <param name="File" value="/sitelog/WEBLOG/ALPSDEV/ees_cim.log" />

                <param name="DatePattern" value="'.'yyyy-MM-dd-a"/>

                <param name="Append" value="true" />

                <layout class="org.apache.log4j.PatternLayout">

                        <param name="ConversionPattern" value="%d{yyyy MMM dd HH:mm:ss}|||%p|||%x|||%t|||%c|||%l|||%m %n" />

                </layout>

        </appender>

        <appender name="FILE.EES.CTM" class="org.apache.log4j.ExtDailyRollingFileAppender">

                <param name="File" value="/sitelog/WEBLOG/ALPSDEV/ees_ctm.log" />

                <param name="DatePattern" value="'.'yyyy-MM-dd-a"/>

                <param name="Append" value="true" />

                <layout class="org.apache.log4j.PatternLayout">

                        <param name="ConversionPattern" value="%d{yyyy MMM dd HH:mm:ss}|||%p|||%x|||%t|||%c|||%l|||%m %n" />

                </layout>

        </appender>

        <appender name="FILE.EES.DMT" class="org.apache.log4j.ExtDailyRollingFileAppender">

                <param name="File" value="/sitelog/WEBLOG/ALPSDEV/ees_dmt.log" />

                <param name="DatePattern" value="'.'yyyy-MM-dd-a"/>

                <param name="Append" value="true" />

                <layout class="org.apache.log4j.PatternLayout">

                        <param name="ConversionPattern" value="%d{yyyy MMM dd HH:mm:ss}|||%p|||%x|||%t|||%c|||%l|||%m %n" />

                </layout>

        </appender>

        <appender name="FILE.EES.LSE" class="org.apache.log4j.ExtDailyRollingFileAppender">

                <param name="File" value="/sitelog/WEBLOG/ALPSDEV/ees_lse.log" />

                <param name="DatePattern" value="'.'yyyy-MM-dd-a"/>

                <param name="Append" value="true" />

                <layout class="org.apache.log4j.PatternLayout">

                        <param name="ConversionPattern" value="%d{yyyy MMM dd HH:mm:ss}|||%p|||%x|||%t|||%c|||%l|||%m %n" />

                </layout>

        </appender>

        <appender name="FILE.EES.MNR" class="org.apache.log4j.ExtDailyRollingFileAppender">

                <param name="File" value="/sitelog/WEBLOG/ALPSDEV/ees_mnr.log" />

                <param name="DatePattern" value="'.'yyyy-MM-dd-a"/>

                <param name="Append" value="true" />

                <layout class="org.apache.log4j.PatternLayout">

                        <param name="ConversionPattern" value="%d{yyyy MMM dd HH:mm:ss}|||%p|||%x|||%t|||%c|||%l|||%m %n" />

                </layout>

        </appender>

        <appender name="FILE.EES.MST" class="org.apache.log4j.ExtDailyRollingFileAppender">

                <param name="File" value="/sitelog/WEBLOG/ALPSDEV/ees_mst.log" />

                <param name="DatePattern" value="'.'yyyy-MM-dd-a"/>

                <param name="Append" value="true" />

                <layout class="org.apache.log4j.PatternLayout">

                        <param name="ConversionPattern" value="%d{yyyy MMM dd HH:mm:ss}|||%p|||%x|||%t|||%c|||%l|||%m %n" />

                </layout>

        </appender>

        <appender name="FILE.ESD.SPE" class="org.apache.log4j.ExtDailyRollingFileAppender">

                <param name="File" value="/sitelog/WEBLOG/ALPSDEV/esd_spe.log" />

                <param name="DatePattern" value="'.'yyyy-MM-dd-a"/>

                <param name="Append" value="true" />

                <layout class="org.apache.log4j.PatternLayout">

                        <param name="ConversionPattern" value="%d{yyyy MMM dd HH:mm:ss}|||%p|||%x|||%t|||%c|||%l|||%m %n" />

                </layout>

        </appender>

        <appender name="FILE.ESM.BKG" class="org.apache.log4j.ExtDailyRollingFileAppender">

                <param name="File" value="/sitelog/WEBLOG/ALPSDEV/esm_bkg.log" />

                <param name="DatePattern" value="'.'yyyy-MM-dd-a"/>

                <param name="Append" value="true" />

                <layout class="org.apache.log4j.PatternLayout">

                        <param name="ConversionPattern" value="%d{yyyy MMM dd HH:mm:ss}|||%p|||%x|||%t|||%c|||%l|||%m %n" />

                </layout>

        </appender>

        <appender name="FILE.ESM.BSA" class="org.apache.log4j.ExtDailyRollingFileAppender">

                <param name="File" value="/sitelog/WEBLOG/ALPSDEV/esm_bsa.log" />

                <param name="DatePattern" value="'.'yyyy-MM-dd-a"/>

                <param name="Append" value="true" />

                <layout class="org.apache.log4j.PatternLayout">

                        <param name="ConversionPattern" value="%d{yyyy MMM dd HH:mm:ss}|||%p|||%x|||%t|||%c|||%l|||%m %n" />

                </layout>

        </appender>

        <appender name="FILE.ESM.FMS" class="org.apache.log4j.ExtDailyRollingFileAppender">

                <param name="File" value="/sitelog/WEBLOG/ALPSDEV/esm_fms.log" />

                <param name="DatePattern" value="'.'yyyy-MM-dd-a"/>

                <param name="Append" value="true" />

                <layout class="org.apache.log4j.PatternLayout">

                        <param name="ConversionPattern" value="%d{yyyy MMM dd HH:mm:ss}|||%p|||%x|||%t|||%c|||%l|||%m %n" />

                </layout>

        </appender>

        <appender name="FILE.ESM.PRI" class="org.apache.log4j.ExtDailyRollingFileAppender">

                <param name="File" value="/sitelog/WEBLOG/ALPSDEV/esm_pri.log" />

                <param name="DatePattern" value="'.'yyyy-MM-dd-a"/>

                <param name="Append" value="true" />

                <layout class="org.apache.log4j.PatternLayout">

                        <param name="ConversionPattern" value="%d{yyyy MMM dd HH:mm:ss}|||%p|||%x|||%t|||%c|||%l|||%m %n" />

                </layout>

        </appender>

        <appender name="FILE.ESM.ACM" class="org.apache.log4j.ExtDailyRollingFileAppender">

                <param name="File" value="/sitelog/WEBLOG/ALPSDEV/esm_acm.log" />

                <param name="DatePattern" value="'.'yyyy-MM-dd-a"/>

                <param name="Append" value="true" />

                <layout class="org.apache.log4j.PatternLayout">

                        <param name="ConversionPattern" value="%d{yyyy MMM dd HH:mm:ss}|||%p|||%x|||%t|||%c|||%l|||%m %n" />

                </layout>

        </appender>

        <appender name="FILE.EXP.SPP" class="org.apache.log4j.ExtDailyRollingFileAppender">

                <param name="File" value="/sitelog/WEBLOG/ALPSDEV/exp_spp.log" />

                <param name="DatePattern" value="'.'yyyy-MM-dd-a"/>

                <param name="Append" value="true" />

                <layout class="org.apache.log4j.PatternLayout">

                        <param name="ConversionPattern" value="%d{yyyy MMM dd HH:mm:ss}|||%p|||%x|||%t|||%c|||%l|||%m %n" />

                </layout>

        </appender>

        <appender name="FILE.FNS.INV" class="org.apache.log4j.ExtDailyRollingFileAppender">

                <param name="File" value="/sitelog/WEBLOG/ALPSDEV/fns_inv.log" />

                <param name="DatePattern" value="'.'yyyy-MM-dd-a"/>

                <param name="Append" value="true" />

                <layout class="org.apache.log4j.PatternLayout">

                        <param name="ConversionPattern" value="%d{yyyy MMM dd HH:mm:ss}|||%p|||%x|||%t|||%c|||%l|||%m %n" />

                </layout>

        </appender>

        <appender name="FILE.FNS.JOO" class="org.apache.log4j.ExtDailyRollingFileAppender">

                <param name="File" value="/sitelog/WEBLOG/ALPSDEV/fns_joo.log" />

                <param name="DatePattern" value="'.'yyyy-MM-dd-a"/>

                <param name="Append" value="true" />

                <layout class="org.apache.log4j.PatternLayout">

                        <param name="ConversionPattern" value="%d{yyyy MMM dd HH:mm:ss}|||%p|||%x|||%t|||%c|||%l|||%m %n" />

                </layout>

        </appender>

        <appender name="FILE.FNS.TOT" class="org.apache.log4j.ExtDailyRollingFileAppender">

                <param name="File" value="/sitelog/WEBLOG/ALPSDEV/fns_tot.log" />

                <param name="DatePattern" value="'.'yyyy-MM-dd-a"/>

                <param name="Append" value="true" />

                <layout class="org.apache.log4j.PatternLayout">

                        <param name="ConversionPattern" value="%d{yyyy MMM dd HH:mm:ss}|||%p|||%x|||%t|||%c|||%l|||%m %n" />

                </layout>

        </appender>

        <appender name="FILE.VOP.OPF" class="org.apache.log4j.ExtDailyRollingFileAppender">

                <param name="File" value="/sitelog/WEBLOG/ALPSDEV/vop_opf.log" />

                <param name="DatePattern" value="'.'yyyy-MM-dd-a"/>

                <param name="Append" value="true" />

                <layout class="org.apache.log4j.PatternLayout">

                        <param name="ConversionPattern" value="%d{yyyy MMM dd HH:mm:ss}|||%p|||%x|||%t|||%c|||%l|||%m %n" />

                </layout>

        </appender>

        <appender name="FILE.VOP.PSO" class="org.apache.log4j.ExtDailyRollingFileAppender">

                <param name="File" value="/sitelog/WEBLOG/ALPSDEV/vop_pso.log" />

                <param name="DatePattern" value="'.'yyyy-MM-dd-a"/>

                <param name="Append" value="true" />

                <layout class="org.apache.log4j.PatternLayout">

                        <param name="ConversionPattern" value="%d{yyyy MMM dd HH:mm:ss}|||%p|||%x|||%t|||%c|||%l|||%m %n" />

                </layout>

        </appender>

        <appender name="FILE.VOP.SCG" class="org.apache.log4j.ExtDailyRollingFileAppender">

                <param name="File" value="/sitelog/WEBLOG/ALPSDEV/vop_scg.log" />

                <param name="DatePattern" value="'.'yyyy-MM-dd-a"/>

                <param name="Append" value="true" />

                <layout class="org.apache.log4j.PatternLayout">

                        <param name="ConversionPattern" value="%d{yyyy MMM dd HH:mm:ss}|||%p|||%x|||%t|||%c|||%l|||%m %n" />

                </layout>

        </appender>

        <appender name="FILE.VOP.VSK" class="org.apache.log4j.ExtDailyRollingFileAppender">

                <param name="File" value="/sitelog/WEBLOG/ALPSDEV/vop_vsk.log" />

                <param name="DatePattern" value="'.'yyyy-MM-dd-a"/>

                <param name="Append" value="true" />

                <layout class="org.apache.log4j.PatternLayout">

                        <param name="ConversionPattern" value="%d{yyyy MMM dd HH:mm:ss}|||%p|||%x|||%t|||%c|||%l|||%m %n" />

                </layout>

        </appender>

        <appender name="FILE.CPS.CNI" class="org.apache.log4j.DailyRollingFileAppender">

                <param name="File" value="/sitelog/WEBLOG/ALPSDEV/cps_cni.log" />

                <param name="DatePattern" value="'.'MMddyy-a"/>

                <param name="Append" value="true" />

                <layout class="org.apache.log4j.PatternLayout">

                        <param name="ConversionPattern" value="%d{yyyy MMM dd HH:mm:ss}|||%p|||%x|||%t|||%c|||%l|||%m %n" />

                </layout>

        </appender>

        

         <appender name="FILE.VOP.FCM" class="org.apache.log4j.ExtDailyRollingFileAppender">

                <param name="File" value="/sitelog/WEBLOG/ALPSDEV/vop_fcm.log" />

                <param name="DatePattern" value="'.'yyyy-MM-dd-a"/>

                <param name="Append" value="true" />

                <layout class="org.apache.log4j.PatternLayout">

                        <param name="ConversionPattern" value="%d{yyyy MMM dd HH:mm:ss}|||%p|||%x|||%t|||%c|||%l|||%m %n" />

                </layout>

        </appender>

        

        <!-- ==========================================================

               *  BIZ FILE

        ============================================================= -->

		



	<!-- ===========================FILE APPENDER========================= -->





	<!-- ===========================   CATEGORY  ========================= -->



		<!-- ==========================================================

		       *  EAI CATEGORY

		============================================================= -->

    	<category name="org.apache.axis" additivity="false">

        	<priority value="ERROR"/>

        	<appender-ref ref="FILE_FRWK"/> 

    	</category>

	    	<!--  Queue log category START -->

	    	<category name="com.jf.transfer.jms.recv.vendor.IBMMQQueueReceiveModule.UDEVHJS_ALPSINV_T_INVOIC" additivity="false">

				<priority value="INFO" />

				<appender-ref ref="UDEVHJS_ALPSINV_T_INVOIC" />

			</category>

	    	<category name="com.jf.transfer.jms.recv.vendor.IBMMQQueueReceiveModule.UDEVHJS_ALPSMNR_T_WESTIM" additivity="false">

				<priority value="INFO" />

				<appender-ref ref="UDEVHJS_ALPSMNR_T_WESTIM" />

			</category>

	    	<category name="com.jf.transfer.jms.recv.vendor.IBMMQQueueReceiveModule.UDEVHJS_ALPSTES_T_EDI" additivity="false">

				<priority value="INFO" />

				<appender-ref ref="UDEVHJS_ALPSTES_T_EDI" />

			</category>

	    	<!--  Queue log category START -->

		<category name="com.jf.transfer.jms.recv.vendor.IBMMQQueueReceiveModule" additivity="false">

			<priority value="INFO" />

			<appender-ref ref="INBOUNDEAIFILE_EDI" />

			<!--appender-ref ref="DBEAI" /-->

		</category>

		<category name="com.jf.transfer.jms.recv.vendor.WLSQueueReceiveModule" additivity="false">

			<priority value="INFO" />

			<appender-ref ref="INBOUNDEAIFILE_JMS" />

			<!--appender-ref ref="DBEAI" /-->

		</category>

		<category name="com.jf.transfer.jms.send.vandor" additivity="false">

			<priority value="INFO" />

			<appender-ref ref="OUTBOUNDEAIFILE" />

			<!--appender-ref ref="DBEAI" /-->

		</category>

		<category name="com.jf.transfer.ws" additivity="false">

			<priority value="INFO" />

		    <appender-ref ref="OUTBOUNDEAIFILE" />

		    <!--appender-ref ref="DBEAI" /-->

		</category>

		<category name="org.apache.axis.transport.http.HTTPSender" additivity="false">

       		<priority value="DEBUG"/>

       		<appender-ref ref="OUTBOUNDEAIFILE"/> 

   		</category>

		<category name="com.jf.transfer.wtc" additivity="false">

			<priority value="INFO" />

			<appender-ref ref="WTCEAIFILE" />

			<!--appender-ref ref="DBEAI" /-->

		</category>

		<!-- ==========================================================

		       *  EAI CATEGORY

		============================================================= -->

		<!-- ==========================================================
		       *  COM CATEGORY
		============================================================= -->
		<category name="com.hanjin.bizcommon" additivity="false">
       		<priority value="DEBUG" />
      		<appender-ref ref="FILE.COM.BIZ" />
	   	</category>
	   	<category name="com.hanjin.syscommon" additivity="false">
       		<priority value="DEBUG" />
      		<appender-ref ref="FILE.COM.SYS" />
	   	</category>
		<!-- ==========================================================
		       *  COM CATEGORY
		============================================================= -->

		<!-- ==========================================================

		       *  BIZ CATEGORY

		============================================================= -->

	   	<category name="com.hanjin.apps.alps.ees.eqr" additivity="false">

       		<priority value="DEBUG" />

      		<appender-ref ref="FILE.EES.EQR" />

	   	</category>
	   	
	   		<category name="com.hanjin.apps.alps.ees.dod" additivity="false">

       		<priority value="DEBUG" />

      		<appender-ref ref="FILE.EES.DOD" />

	   	</category>

        <category name="com.hanjin.apps.alps.esd.lea" additivity="false">

            <priority value="DEBUG" />

            <appender-ref ref="FILE.ESD.LEA" />

        </category>

	   	<category name="com.hanjin.apps.alps.esm.agt" additivity="false">

       		<priority value="DEBUG" />

      		<appender-ref ref="FILE.ESM.AGT" />

	   	</category>

	   	<category name="com.hanjin.apps.alps.esm.coa" additivity="false">

       		<priority value="DEBUG" />

      		<appender-ref ref="FILE.ESM.COA" />

	   	</category>

        <category name="com.hanjin.apps.alps.esm.mas" additivity="false">
        
        	<priority value="DEBUG" />
            
            <appender-ref ref="FILE.ESM.MAS" />
        
        </category>
	   	
	   	<category name="com.hanjin.apps.alps.esm.spc" additivity="false">

       		<priority value="DEBUG" />

      		<appender-ref ref="FILE.ESM.SPC" />

	   	</category>

	   	<category name="com.hanjin.apps.alps.esm.saq" additivity="false">

       		<priority value="DEBUG" />

      		<appender-ref ref="FILE.ESM.SAQ" />

	   	</category>

	   	<category name="com.hanjin.apps.alps.esd.prd" additivity="false">

       		<priority value="DEBUG" />

      		<appender-ref ref="FILE.ESD.PRD" />

	   	</category>

	   	<category name="com.hanjin.apps.alps.esm.sqm" additivity="false">

       		<priority value="DEBUG" />

      		<appender-ref ref="FILE.ESM.SQM" />

	   	</category>

	   	<category name="com.hanjin.apps.alps.esd.sce" additivity="false">

       		<priority value="DEBUG" />

      		<appender-ref ref="FILE.ESD.SCE" />

	   	</category>

	   	<category name="com.hanjin.apps.alps.esd.tes" additivity="false">

       		<priority value="DEBUG" />

      		<appender-ref ref="FILE.ESD.TES" />

	   	</category>

	   	<category name="com.hanjin.apps.alps.esd.tpb" additivity="false">

       		<priority value="DEBUG" />

      		<appender-ref ref="FILE.ESD.TPB" />

	   	</category>

	   	<category name="com.hanjin.apps.alps.esd.trs" additivity="false">

       		<priority value="DEBUG" />

      		<appender-ref ref="FILE.ESD.TRS" />

	   	</category>

	   	<category name="com.hanjin.apps.alps.esd.eas" additivity="false">

       		<priority value="DEBUG" />

      		<appender-ref ref="FILE.ESD.EAS" />

	   	</category>

	   	<category name="com.hanjin.apps.alps.esd.aoc" additivity="false">

       		<priority value="DEBUG" />

      		<appender-ref ref="FILE.ESD.AOC" />

	   	</category>

	   	<category name="com.hanjin.apps.alps.cps.gem" additivity="false">

       		<priority value="DEBUG" />

      		<appender-ref ref="FILE.CPS.GEM" />

	   	</category>

	   	<category name="com.hanjin.apps.alps.ees.cgm" additivity="false">

       		<priority value="DEBUG" />

      		<appender-ref ref="FILE.EES.CGM" />

	   	</category>

	   	<category name="com.hanjin.apps.alps.ees.cim" additivity="false">

       		<priority value="DEBUG" />

      		<appender-ref ref="FILE.EES.CIM" />

	   	</category>

	   	<category name="com.hanjin.apps.alps.ees.ctm" additivity="false">

       		<priority value="DEBUG" />

      		<appender-ref ref="FILE.EES.CTM" />

	   	</category>

	   	<category name="com.hanjin.apps.alps.ees.dmt" additivity="false">

       		<priority value="DEBUG" />

      		<appender-ref ref="FILE.EES.DMT" />

	   	</category>

	   	<category name="com.hanjin.apps.alps.ees.lse" additivity="false">

       		<priority value="DEBUG" />

      		<appender-ref ref="FILE.EES.LSE" />

	   	</category>

	   	<category name="com.hanjin.apps.alps.ees.mnr" additivity="false">

       		<priority value="DEBUG" />

      		<appender-ref ref="FILE.EES.MNR" />

	   	</category>

	   	<category name="com.hanjin.apps.alps.ees.mst" additivity="false">

       		<priority value="DEBUG" />

      		<appender-ref ref="FILE.EES.MST" />

	   	</category>

	   	<category name="com.hanjin.apps.alps.esd.spe" additivity="false">

       		<priority value="DEBUG" />

      		<appender-ref ref="FILE.ESD.SPE" />

	   	</category>

	   	<category name="com.hanjin.apps.alps.esm.bkg" additivity="false">

       		<priority value="DEBUG" />

      		<appender-ref ref="FILE.ESM.BKG" />

	   	</category>

	   	<category name="com.hanjin.apps.alps.esm.bsa" additivity="false">

       		<priority value="DEBUG" />

      		<appender-ref ref="FILE.ESM.BSA" />

	   	</category>

	   	<category name="com.hanjin.apps.alps.esm.fms" additivity="false">

       		<priority value="DEBUG" />

      		<appender-ref ref="FILE.ESM.FMS" />

	   	</category>

	   	<category name="com.hanjin.apps.alps.esm.pri" additivity="false">

       		<priority value="DEBUG" />

      		<appender-ref ref="FILE.ESM.PRI" />

	   	</category>

	   	<category name="com.hanjin.apps.alps.esm.acm" additivity="false">

       		<priority value="DEBUG" />

      		<appender-ref ref="FILE.ESM.ACM" />

	   	</category>

	   	<category name="com.hanjin.apps.alps.exp.spp" additivity="false">

       		<priority value="DEBUG" />

      		<appender-ref ref="FILE.EXP.SPP" />

	   	</category>

	   	<category name="com.hanjin.apps.alps.fns.inv" additivity="false">

       		<priority value="DEBUG" />

      		<appender-ref ref="FILE.FNS.INV" />

	   	</category>

	   	<category name="com.hanjin.apps.alps.fns.joo" additivity="false">

       		<priority value="DEBUG" />

      		<appender-ref ref="FILE.FNS.JOO" />

	   	</category>

	   	<category name="com.hanjin.apps.alps.fns.tot" additivity="false">

       		<priority value="DEBUG" />

      		<appender-ref ref="FILE.FNS.TOT" />

	   	</category>

	   	<category name="com.hanjin.apps.alps.vop.opf" additivity="false">

       		<priority value="DEBUG" />

      		<appender-ref ref="FILE.VOP.OPF" />

	   	</category>

	   	<category name="com.hanjin.apps.alps.vop.pso" additivity="false">

       		<priority value="DEBUG" />

      		<appender-ref ref="FILE.VOP.PSO" />

	   	</category>

	   	<category name="com.hanjin.apps.alps.vop.scg" additivity="false">

       		<priority value="DEBUG" />

      		<appender-ref ref="FILE.VOP.SCG" />

	   	</category>

	   	<category name="com.hanjin.apps.alps.vop.vsk" additivity="false">

       		<priority value="DEBUG" />

      		<appender-ref ref="FILE.VOP.VSK" />

	   	</category>

		<category name="com.hanjin.apps.alps.cps.cni" additivity="false">

       		<priority value="DEBUG" />

      		<appender-ref ref="FILE.CPS.CNI" />

	   	</category>	

	   	<category name="com.hanjin.apps.alps.common.mdmSync" additivity="false">

       		<priority value="DEBUG" />

      		<appender-ref ref="INBOUNDEAIFILE_MDM" />

	   	</category>	



	   	<category name="com.hanjin.apps.alps.vop.fcm" additivity="false">

       		<priority value="DEBUG" />

      		<appender-ref ref="FILE.VOP.FCM" />

	   	</category>



        <!-- ==========================================================

               *  BIZ CATEGORY

        ============================================================= -->



		<category name="com.hanjin" additivity="false">

		       <priority value="INFO" />

		       <appender-ref ref="FILE_FRWK" />

		</category>

		<!-- signon log check -->

		<category name="com.hanjin.framework.support.view.signon.web" additivity="false">

		       <priority value="INFO" />

		       <appender-ref ref="FILE.FRWK.SOF" />

		</category>

		<!-- signon log check -->

	

	<!-- ===========================   CATEGORY  ========================= -->

 

	<root>

		<priority value="DEBUG"></priority>

	  	<appender-ref ref="STDOUT"/>

	</root>

	 

</log4j:configuration>

